Node-Red Dashboard/flows.json
[
    {
        "id": "2807eb5038af723b",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b9c950cfbd703046",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fcb4143e638cc28c",
            "c96c8ac51a1fe4fa"
        ],
        "x": 54,
        "y": 759,
        "w": 382,
        "h": 82
    },
    {
        "id": "61219b29a4308570",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0d5bb3983f555f1d",
            "b8d3691b4b0db8de"
        ],
        "x": 54,
        "y": 859,
        "w": 332,
        "h": 82
    },
    {
        "id": "e696151fe100b641",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b9fe8424681065f7",
            "5fe81c0ac1e84a67",
            "f1c4e655881fcf3d",
            "b3401fa4f95194f2",
            "de8330487978c7e4"
        ],
        "x": 454,
        "y": 19,
        "w": 378,
        "h": 388
    },
    {
        "id": "3efc7f94eb3f5feb",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a7a8a9d2d3b7ea14",
            "ad49d8dd3293b608",
            "e8a4362463e56e2f",
            "ec25f9eb4cb8befd",
            "7cc8dbda845609bf",
            "49ec07d5a9500807"
        ],
        "x": 14,
        "y": 19,
        "w": 412,
        "h": 448
    },
    {
        "id": "aca29bb12e81f5db",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d788315f4bedd8a2",
            "7daea3ec91003b5e",
            "edc66f109caf9265",
            "0d11babe96377c80",
            "d12290f515b40f63",
            "7b903a2c2c61ce76",
            "10c1d30aca6894c2",
            "a93966fcf27fb00d"
        ],
        "x": 854,
        "y": 19,
        "w": 378,
        "h": 508
    },
    {
        "id": "77e988936d244eeb",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "62b8e8110e80bf00",
            "a4cf1a33a4b16bab",
            "9698410b83a0265f",
            "ab07399b2d2dd390",
            "af20a7bd2074444a",
            "20ccaea429206f1a",
            "7a224b94d6b3b194",
            "6c37dba2cacdeb9a"
        ],
        "x": 114,
        "y": 1299,
        "w": 802,
        "h": 542
    },
    {
        "id": "cbf76a220ccfb8a7",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b2ebf6059fcbb1dc",
            "b15d82176c1d2dc6",
            "1c5f9bdb8cc23666"
        ],
        "x": 1034,
        "y": 619,
        "w": 212,
        "h": 262
    },
    {
        "id": "92ba0c02fad53117",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "945f68680f86a283",
            "efd8fb56cdf7bb92",
            "40ce3c4e4def2b5c",
            "242066ee3e34da21",
            "6ba7415a5c7e9de7",
            "dbd87ac1da2ff266",
            "b5bf835afbb8011b",
            "31158ce5cbb7ab6e",
            "40dc2fb9fd1ddd84",
            "2fd65db9997e0687",
            "3dede06d085908f5",
            "ae7580648012c36c",
            "f30c18c67a39581f"
        ],
        "x": 1864,
        "y": 1239,
        "w": 542,
        "h": 682
    },
    {
        "id": "775027b3aeae84e6",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c3520c6dfba6688d",
            "dba6506e01221984",
            "710b164898209090",
            "b517c36974c1d4c5",
            "6cb560dfb6fa0c66",
            "d26b56931ce8c392",
            "ec9599de4c26f5be",
            "f1cf45ac9dcd96bc",
            "40cc21c004cda31e",
            "f74c5dfbc8c8f5e8"
        ],
        "x": 944,
        "y": 1299,
        "w": 752,
        "h": 582
    },
    {
        "id": "49ec07d5a9500807",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "44563deca0d92f28",
            "4b552e6339b25e5b",
            "cf7373ddd27211bf"
        ],
        "x": 54,
        "y": 259,
        "w": 212,
        "h": 182
    },
    {
        "id": "de8330487978c7e4",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "71f63defb79a6175",
            "f58387f2e46bffb0"
        ],
        "x": 494,
        "y": 239,
        "w": 312,
        "h": 142
    },
    {
        "id": "a93966fcf27fb00d",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3b3498d77a14fe18",
            "a68eac144d84fa33"
        ],
        "x": 894,
        "y": 359,
        "w": 312,
        "h": 142
    },
    {
        "id": "01412bd404014ceb",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "eda311aeb775aa4a",
            "d56b266c5fbfcc92",
            "bbd0c01eca6d87a2",
            "5dd473509ed7873e",
            "653fae619555726b",
            "e10f428ed9a68c8c",
            "7c5143a1fc6dba5d",
            "667a550584cc237b",
            "76ff40c0209fdafc",
            "5b653c2cd037eaf3",
            "166790ec6b91915b"
        ],
        "x": 954,
        "y": 1999,
        "w": 952,
        "h": 302
    },
    {
        "id": "224e2fc2749d4aba",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7b81c91b3c3389fb",
            "3b71c70dfa224f15",
            "35309dab547a6e92",
            "018b5775862c0d19",
            "2bf5eacdd9345665",
            "da2320ae16a4f58d",
            "d85c4ac4f3628635",
            "2a8dc0507b19bdca",
            "e25bc056b5db41ce"
        ],
        "x": 954,
        "y": 2319,
        "w": 912,
        "h": 342
    },
    {
        "id": "05ec82e119a7a212",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3aa43b3908b94a87",
            "b85d976af7d63e03",
            "ed69f1f0ae9fa808",
            "f2b3c46d06a2a0ed",
            "c09c9f79080483ec",
            "944f70ed4fe97466",
            "ea728a363f31df95",
            "d858eda2320d91a7",
            "d41d0d4dfa028a78",
            "3dc7b852bdbe91d4"
        ],
        "x": 954,
        "y": 2679,
        "w": 1152,
        "h": 322
    },
    {
        "id": "a7a8a9d2d3b7ea14",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Notification (On / Off)",
        "info": "Use ReST API of User Management",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "ad49d8dd3293b608",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show E-Mail Address",
        "info": "Use ReST API of User Management",
        "x": 150,
        "y": 140,
        "wires": []
    },
    {
        "id": "e8a4362463e56e2f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Whatsapp API-KEY & Phone Number",
        "info": "Use ReST API of User Management",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "44563deca0d92f28",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Show ID",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "4b552e6339b25e5b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Show API Token",
        "info": "",
        "x": 160,
        "y": 400,
        "wires": []
    },
    {
        "id": "b9fe8424681065f7",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water Remaining",
        "info": "Use MSG Subscription",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "5fe81c0ac1e84a67",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water Consumption",
        "info": "Use Event Listeners",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "71f63defb79a6175",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "de8330487978c7e4",
        "name": "Show Water Consumption (Daily)",
        "info": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "d788315f4bedd8a2",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Show Food Remaining (Container)",
        "info": "Use MSG Subscription",
        "x": 1020,
        "y": 120,
        "wires": []
    },
    {
        "id": "7daea3ec91003b5e",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Show Food Remaining (Bowl)",
        "info": "Use MSG Subscription",
        "x": 1000,
        "y": 160,
        "wires": []
    },
    {
        "id": "edc66f109caf9265",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Show Food Consumption",
        "info": "Use Event Listeners",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b3498d77a14fe18",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a93966fcf27fb00d",
        "name": "Show Food Consumption (Daily)",
        "info": "",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "0d11babe96377c80",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Serve Food (By Button)",
        "info": "Use MSG Publicationn",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "d12290f515b40f63",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Set/Show Food Serve Schedule",
        "info": "",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "f1c4e655881fcf3d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water-Dispenser Status",
        "info": "Use Event Listeners",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "7b903a2c2c61ce76",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Show Food-Feeder Status",
        "info": "Use Event Listeners",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "ec25f9eb4cb8befd",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "<Settings>",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "b3401fa4f95194f2",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "<Water-Dispenser>",
        "info": "",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "10c1d30aca6894c2",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "<Food-Feeder>",
        "info": "",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "7cc8dbda845609bf",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Timezone",
        "info": "Use ReST API of User Management",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "cf7373ddd27211bf",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Enhancement",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "f58387f2e46bffb0",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "de8330487978c7e4",
        "name": "Enhancement",
        "info": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "a68eac144d84fa33",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a93966fcf27fb00d",
        "name": "Enhancement",
        "info": "",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "fcb4143e638cc28c",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "b9c950cfbd703046",
        "name": "Device Status Changed Event Listener",
        "links": [
            "82402946b66c1c49"
        ],
        "x": 395,
        "y": 800,
        "wires": [
            [
                "5203b836a0ab12c1"
            ]
        ]
    },
    {
        "id": "c96c8ac51a1fe4fa",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "b9c950cfbd703046",
        "name": "Device Status Changed Event Listener",
        "info": "Client ID:      msg.payload.cid\nDevice Status:  msg.payload.stat",
        "x": 230,
        "y": 800,
        "wires": []
    },
    {
        "id": "0d5bb3983f555f1d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "61219b29a4308570",
        "name": "Consumption Event Listener",
        "info": "Topic:          msg.payload.topic\nConsumption:    msg.payload.totalDecr",
        "x": 200,
        "y": 900,
        "wires": []
    },
    {
        "id": "b8d3691b4b0db8de",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "61219b29a4308570",
        "name": "Consumption Event Listener",
        "links": [
            "1ac02030b1753de6"
        ],
        "x": 345,
        "y": 900,
        "wires": [
            [
                "aa4697c67a19127a"
            ]
        ]
    },
    {
        "id": "5203b836a0ab12c1",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 800,
        "wires": []
    },
    {
        "id": "aa4697c67a19127a",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 900,
        "wires": []
    },
    {
        "id": "826b6aeb20606fc9",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/water-dispenser/scale/water",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1040,
        "wires": [
            [
                "0ba0e146ea4393d3"
            ]
        ]
    },
    {
        "id": "f3caa67f3a483ce1",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/food-feeder/scale/container",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "659848c0a08174e8"
            ]
        ]
    },
    {
        "id": "265d6b5f86cb0f2f",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/food-feeder/scale/bowl",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1120,
        "wires": [
            [
                "5e7bc10284ca5e81"
            ]
        ]
    },
    {
        "id": "0ba0e146ea4393d3",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "659848c0a08174e8",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5e7bc10284ca5e81",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d835b5ee87091c01",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water-Dispenser Status",
        "info": "",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "5b035079eb0ca6cb",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Food-Feeder Status",
        "info": "",
        "x": 810,
        "y": 820,
        "wires": []
    },
    {
        "id": "21ce8dc3e9370d5d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water Consumption",
        "info": "",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "866a35fe25e23b4c",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Food Consumption",
        "info": "",
        "x": 810,
        "y": 920,
        "wires": []
    },
    {
        "id": "5708b4e8e1388318",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water Remaining",
        "info": "",
        "x": 800,
        "y": 1040,
        "wires": []
    },
    {
        "id": "071701e687669483",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Food Remaining (Container)",
        "info": "",
        "x": 840,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5a23e129e4e1b4af",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Food Remaining (Bowl)",
        "info": "",
        "x": 820,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c3520c6dfba6688d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "name": "Water-Dispenser",
        "info": "",
        "x": 1060,
        "y": 1340,
        "wires": []
    },
    {
        "id": "dba6506e01221984",
        "type": "ui_chart",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "name": "",
        "group": "1c59b2e42a6a75ab",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "Water Consumption",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1570,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "710b164898209090",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "name": "Show Water Remaining",
        "info": "",
        "x": 1080,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b517c36974c1d4c5",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "name": "Show Water Consumption",
        "info": "",
        "x": 1090,
        "y": 1560,
        "wires": []
    },
    {
        "id": "6cb560dfb6fa0c66",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "name": "Show Water-Dispenser Status",
        "info": "",
        "x": 1100,
        "y": 1740,
        "wires": []
    },
    {
        "id": "d26b56931ce8c392",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "name": "",
        "group": "1c59b2e42a6a75ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water ",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 1410,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ec9599de4c26f5be",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "order": 4,
        "group": "1c59b2e42a6a75ab",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1290,
        "y": 1840,
        "wires": []
    },
    {
        "id": "f1cf45ac9dcd96bc",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "group": "1c59b2e42a6a75ab",
        "order": 3,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Device Health Check",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1340,
        "y": 1800,
        "wires": []
    },
    {
        "id": "62b8e8110e80bf00",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "77e988936d244eeb",
        "name": "Serve Food(By Button)",
        "info": "",
        "x": 240,
        "y": 1660,
        "wires": []
    },
    {
        "id": "a4cf1a33a4b16bab",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "77e988936d244eeb",
        "name": "Set Food Serve Schedule",
        "info": "",
        "x": 250,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9698410b83a0265f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "77e988936d244eeb",
        "name": "Food Feeder Controll",
        "info": "",
        "x": 240,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b2ebf6059fcbb1dc",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "cbf76a220ccfb8a7",
        "name": "UI Dashboard",
        "info": "",
        "x": 1130,
        "y": 660,
        "wires": []
    },
    {
        "id": "b15d82176c1d2dc6",
        "type": "ui_template",
        "z": "2807eb5038af723b",
        "g": "cbf76a220ccfb8a7",
        "group": "1c59b2e42a6a75ab",
        "name": "dashboard CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style id=\"blue-dashboard\">\n\nbody.nr-dashboard-theme {\n    background: linear-gradient(180deg, #6FD7F4 10.32%, #B9D1DF 64.55%, #C1CAE3 100%);\n}\n\nbody.nr-dashboard-theme md-toolbar {\n   background:rgba(85, 149, 176, 0.56);\n}\n\n/* side-navi */\n\nbody.nr-dashboard-theme md-sidenav {\n    background: linear-gradient(270deg, #59D1F2 10.06%, #72D8F4 40.45%, #90DEF4 65.97%, #B9E7F4 89.41%);\n}\n\nbody.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: rgb(0 0 0);\n    background-color: transparent;\n}\n\n/*\n\neach card panel\n\n    justify-content:space-around;\n*/\nbody.nr-dashboard-theme ui-card-panel {\n    position: absolute;\n    margin-top : 7%; /* additional property*/\n    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);\n    border: 5px solid #4B539C;\n    border-radius: 1em;\n    box-shadow: 0 0 1em 0em rgb(0 0 100 / 50%);\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background: transparent;\n    color: rgb(75,83,156); /* Basic : rgb(215 223 245); */\n    font-weight: bold; /* additional property */\n   \n    \n}\n\n\n.nr-dashboard-theme .nr-dashboard-template {\n    background:transparent;\n}\n\n\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: #000000; /* additional property*/\n    font-size: 25px; /* additional property*/\n    text-shadow: 1px 1px 0px rgb(0 0 0 / 50%);\n    font-weight: bolder; /* additional property*/\n}\n\n\n.md-button{\n    border-radius:0.6em;\n    color: #000000; /*fixed. but I don't know what this code do. */\n}\n\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #053ea8; \n    color:rgb(215 223 245);\n    font-size: 15px; /* additional property*/\n    font-weight: bold; /* additional property*/\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #8AA9E1;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:focus {\n    background-color: #8AA9E1;\n}\n\n/* here now */\n\n.nr-dashboard-theme .nr-dashboard-numeric .value {\n    background:unset;\n    color: rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-form {\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-form-button {\n    background-color: #053ea8;\n    color:rgb(215 223 245);\n}\n\n.nr-dashboard-theme .nr-dashboard-form-button:hover {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme .nr-dashboard-form-button:focus {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme md-input-container.md-default-theme .md-input, md-input-container .md-input {\n     color:rgb(215 223 245);\n    border-color: #074fd4 !important;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n    background-color: rgb(25 31 153);\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-bar {\n    background-color: rgb(94 94 177);\n    box-shadow: inset 0 0 1px #0000005e;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n    background-color: rgb(94 94 177);\n     box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n    background-color: rgb(61 107 232);\n    box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-slider .md-track {\n    background-color: rgb(125 172 249 / 35%);\n}\nmd-slider .md-thumb {\n    box-shadow: 0 0 10px 0px #101086;\n}\n\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n    background-color: #3d6be8;\n    border-color: #3d6be8;\n}\n\n.nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(0 0 0 / 12%);\n    color:rgb(215 223 245);\n    border-radius:0.8em;\n}\n\n.nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n    margin-top: -3px;\n    border-color: #eeeeee7a;\n    \n}\n.nr-dashboard-theme .md-select-menu-container {\n    max-height: 85%;\n    overflow-y: auto;\n    border: none;\n    border-radius: 0.8em;\n}\n.nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n\n}\n.nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(40 53 147);\n   \n    height: 29px;\n    border-radius: 0.6em;\n    margin-left: 10px;\n    margin-right: 10px;\n    margin-top: 2px;\n    box-shadow: 0 0 6px 6px #24202133;\n    transition: 0.3s;\n}\n.nr-dashboard-theme md-select-menu md-option[selected] {\n    color: rgb(130 177 255) !important;\n    background-color: rgb(27 90 197) !important;\n}\n.nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n    background-color: rgb(31 31 152);\n}\n.nr-dashboard-theme md-select-menu md-option:last-child {\n   margin-bottom: 8px;\n}\n.nr-dashboard-theme md-select-menu md-option:hover {\n    background-color: rgb(20 91 211) !important;\n    padding-left: 26px;\n}\n.nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n     border-radius: 14px;\n}\n\n.formlabel{\n    color : black;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1140,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "1c5f9bdb8cc23666",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "cbf76a220ccfb8a7",
        "name": "Dashboard CSS",
        "info": "",
        "x": 1140,
        "y": 780,
        "wires": []
    },
    {
        "id": "945f68680f86a283",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Food Feeder",
        "info": "",
        "x": 1970,
        "y": 1280,
        "wires": []
    },
    {
        "id": "efd8fb56cdf7bb92",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Show Food Remaining(Container)",
        "info": "",
        "x": 2040,
        "y": 1360,
        "wires": []
    },
    {
        "id": "40ce3c4e4def2b5c",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Show Food Remaining(Bowl)",
        "info": "",
        "x": 2020,
        "y": 1500,
        "wires": []
    },
    {
        "id": "242066ee3e34da21",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Show Food Consumption",
        "info": "",
        "x": 2010,
        "y": 1640,
        "wires": []
    },
    {
        "id": "6ba7415a5c7e9de7",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Show Food-Feeder Status",
        "info": "",
        "x": 2010,
        "y": 1780,
        "wires": []
    },
    {
        "id": "dbd87ac1da2ff266",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "group": "35e893befae8d648",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Container",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 2320,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b5bf835afbb8011b",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "group": "35e893befae8d648",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bowl",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 2330,
        "y": 1560,
        "wires": []
    },
    {
        "id": "31158ce5cbb7ab6e",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "func": "//Calculate food consumption logic\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1640,
        "wires": [
            [
                "40dc2fb9fd1ddd84"
            ]
        ]
    },
    {
        "id": "40dc2fb9fd1ddd84",
        "type": "ui_chart",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "group": "35e893befae8d648",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Food Consumption",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2290,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "2fd65db9997e0687",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "group": "35e893befae8d648",
        "order": 4,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Device Health Check",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2280,
        "y": 1840,
        "wires": []
    },
    {
        "id": "3dede06d085908f5",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "order": 5,
        "group": "35e893befae8d648",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 2230,
        "y": 1880,
        "wires": []
    },
    {
        "id": "ae7580648012c36c",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "topic": "users/petification/food-feeder/scale/container",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2070,
        "y": 1420,
        "wires": [
            [
                "dbd87ac1da2ff266"
            ]
        ]
    },
    {
        "id": "f30c18c67a39581f",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "topic": "users/petification/food-feeder/scale/bowl",
        "qos": "1",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2050,
        "y": 1560,
        "wires": [
            [
                "b5bf835afbb8011b",
                "31158ce5cbb7ab6e"
            ]
        ]
    },
    {
        "id": "eda311aeb775aa4a",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "group": "ad292859cba7b247",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "On/Off",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1830,
        "y": 2220,
        "wires": []
    },
    {
        "id": "81dd938944170e06",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Settings",
        "info": "",
        "x": 1020,
        "y": 1960,
        "wires": []
    },
    {
        "id": "87df79dec94758f4",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "group": "c166754c88d73fc6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Timezone",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1390,
        "y": 3420,
        "wires": []
    },
    {
        "id": "d56b266c5fbfcc92",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "Set/Show Notification (On/Off)",
        "info": "",
        "x": 1100,
        "y": 2040,
        "wires": []
    },
    {
        "id": "3aa43b3908b94a87",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "name": "Set/Show Whatsapp API-KEY",
        "info": "",
        "x": 1100,
        "y": 2720,
        "wires": []
    },
    {
        "id": "7b81c91b3c3389fb",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "name": "Set/Show E-Mail Address",
        "info": "",
        "x": 1090,
        "y": 2360,
        "wires": []
    },
    {
        "id": "0e7b15f3b4308643",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Set/Show Timezone",
        "info": "",
        "x": 1070,
        "y": 3540,
        "wires": []
    },
    {
        "id": "bbd0c01eca6d87a2",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "order": 1,
        "group": "ad292859cba7b247",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1830,
        "y": 2260,
        "wires": []
    },
    {
        "id": "5dd473509ed7873e",
        "type": "ui_button",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "",
        "group": "ad292859cba7b247",
        "order": 2,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Notice On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "On",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1040,
        "y": 2080,
        "wires": [
            [
                "5b653c2cd037eaf3"
            ]
        ]
    },
    {
        "id": "653fae619555726b",
        "type": "ui_button",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "",
        "group": "ad292859cba7b247",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Notice Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Off",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1040,
        "y": 2120,
        "wires": [
            [
                "5b653c2cd037eaf3"
            ]
        ]
    },
    {
        "id": "3b71c70dfa224f15",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "group": "eba1d9cc6f3a89fd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current E-mail",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1760,
        "y": 2620,
        "wires": []
    },
    {
        "id": "652a0b26b343d22b",
        "type": "mqtt out",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/settings/phone/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1eb4aa7d746828a2",
        "x": 1380,
        "y": 3060,
        "wires": []
    },
    {
        "id": "c853f610a85f0553",
        "type": "function",
        "z": "2807eb5038af723b",
        "name": "",
        "func": "// Current Timezone Lookup Query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 3420,
        "wires": [
            [
                "87df79dec94758f4"
            ]
        ]
    },
    {
        "id": "05d353924f21e68d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Set/Show Phone Number",
        "info": "",
        "x": 1070,
        "y": 3320,
        "wires": []
    },
    {
        "id": "b85d976af7d63e03",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "group": "b1c00c1305e6ac21",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current API Key",
        "format": "{{msg.payload.apikey}}",
        "layout": "col-center",
        "className": "",
        "x": 1940,
        "y": 2920,
        "wires": []
    },
    {
        "id": "a50cd8bff59e8d75",
        "type": "mqtt out",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/settings/timezone/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2f86710f80408e7",
        "x": 1590,
        "y": 3380,
        "wires": []
    },
    {
        "id": "ed69f1f0ae9fa808",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "group": "b1c00c1305e6ac21",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Phone Number",
        "format": "{{msg.payload.phonenum}}",
        "layout": "col-center",
        "className": "",
        "x": 1970,
        "y": 2960,
        "wires": []
    },
    {
        "id": "eef4f99d1e2e145f",
        "type": "function",
        "z": "2807eb5038af723b",
        "name": "",
        "func": "// Current Phone Number Lookup Query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 3100,
        "wires": [
            []
        ]
    },
    {
        "id": "ab07399b2d2dd390",
        "type": "mqtt out",
        "z": "2807eb5038af723b",
        "g": "77e988936d244eeb",
        "name": "",
        "topic": "users/petification/food-feeder/action/quantity",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2f86710f80408e7",
        "x": 710,
        "y": 1740,
        "wires": []
    },
    {
        "id": "af20a7bd2074444a",
        "type": "debug",
        "z": "2807eb5038af723b",
        "g": "77e988936d244eeb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1800,
        "wires": []
    },
    {
        "id": "20ccaea429206f1a",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "77e988936d244eeb",
        "name": "",
        "label": "User Control Part to Feeding",
        "group": "ad04c2ea2866741d",
        "order": 1,
        "width": "6",
        "height": "6",
        "options": [
            {
                "label": "Set Food Quantity (g)",
                "value": "quantity",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "quantity": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 260,
        "y": 1740,
        "wires": [
            [
                "ab07399b2d2dd390",
                "af20a7bd2074444a"
            ]
        ]
    },
    {
        "id": "7a224b94d6b3b194",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "77e988936d244eeb",
        "name": "",
        "label": "Automatic feeding time setting",
        "group": "ad04c2ea2866741d",
        "order": 2,
        "width": "6",
        "height": "6",
        "options": [
            {
                "label": "Set Time HH:MM (00:00 ~ 23:59)",
                "value": "time",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 270,
        "y": 1520,
        "wires": [
            [
                "6c37dba2cacdeb9a"
            ]
        ]
    },
    {
        "id": "6c37dba2cacdeb9a",
        "type": "mqtt out",
        "z": "2807eb5038af723b",
        "g": "77e988936d244eeb",
        "name": "",
        "topic": "users/petification/food-feeder/action/time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2f86710f80408e7",
        "x": 640,
        "y": 1520,
        "wires": []
    },
    {
        "id": "40cc21c004cda31e",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "name": "",
        "topic": "users/petification/water-dispenser/scale/water",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 1480,
        "wires": [
            [
                "d26b56931ce8c392"
            ]
        ]
    },
    {
        "id": "f74c5dfbc8c8f5e8",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "775027b3aeae84e6",
        "name": "",
        "topic": "users/petification/water-dispenser/scale/consumption",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1170,
        "y": 1620,
        "wires": [
            [
                "dba6506e01221984"
            ]
        ]
    },
    {
        "id": "35309dab547a6e92",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "name": "",
        "label": "Set E-mail Address",
        "group": "eba1d9cc6f3a89fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set E-mail Address",
                "value": "email-address",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email-address": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 1070,
        "y": 2400,
        "wires": [
            [
                "018b5775862c0d19"
            ]
        ]
    },
    {
        "id": "f2b3c46d06a2a0ed",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "name": "",
        "label": "WhatsApp Account Settings",
        "group": "b1c00c1305e6ac21",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set Phone Number",
                "value": "phonenum",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Set API Key",
                "value": "key",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "phonenum": "",
            "key": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 1100,
        "y": 2760,
        "wires": [
            [
                "c09c9f79080483ec"
            ]
        ]
    },
    {
        "id": "1dd5bf19a71aec8c",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "name": "",
        "label": "Time Zone",
        "group": "4579d83e78dcf2ff",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set Timezone",
                "value": "timezone",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "timezone": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1170,
        "y": 3380,
        "wires": [
            [
                "a50cd8bff59e8d75"
            ]
        ]
    },
    {
        "id": "3f171ebd8f56fbb1",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "name": "",
        "label": "Phone Number",
        "group": "c166754c88d73fc6",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set Phone Number",
                "value": "phoneNum",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "phoneNum": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1050,
        "y": 3060,
        "wires": [
            [
                "652a0b26b343d22b"
            ]
        ]
    },
    {
        "id": "e10f428ed9a68c8c",
        "type": "inject",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "Initial",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1370,
        "y": 2180,
        "wires": [
            [
                "166790ec6b91915b"
            ]
        ]
    },
    {
        "id": "7c5143a1fc6dba5d",
        "type": "http request",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "ReST/GET Notification",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "a2a345f1c4a3679a",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 1600,
        "y": 2200,
        "wires": [
            [
                "667a550584cc237b"
            ]
        ]
    },
    {
        "id": "667a550584cc237b",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "toString",
        "func": "msg.payload = JSON.parse(msg.payload).notification === 1 ? \"On\" : \"Off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 2240,
        "wires": [
            [
                "eda311aeb775aa4a",
                "bbd0c01eca6d87a2"
            ]
        ]
    },
    {
        "id": "76ff40c0209fdafc",
        "type": "http request",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "ReST/PATCH Notification",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "a2a345f1c4a3679a",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 1310,
        "y": 2140,
        "wires": [
            [
                "166790ec6b91915b"
            ]
        ]
    },
    {
        "id": "5b653c2cd037eaf3",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "PreRequest",
        "func": "msg.method = \"PATCH\";\nmsg.url = `https://petificationblue.ddns.net:1880/user/notification/${msg.payload === \"On\" ? 1 : 0}`;\n\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 2100,
        "wires": [
            [
                "76ff40c0209fdafc"
            ]
        ]
    },
    {
        "id": "166790ec6b91915b",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "01412bd404014ceb",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = `https://petificationblue.ddns.net:1880/user/notification`;\n\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 2160,
        "wires": [
            [
                "7c5143a1fc6dba5d"
            ]
        ]
    },
    {
        "id": "018b5775862c0d19",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "name": "PreRequest",
        "func": "if(msg.payload[\"email-address\"]) {\n    msg.method = \"PATCH\";\n    msg.url = `https://petificationblue.ddns.net:1880/user/email/${msg.payload[\"email-address\"]}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 2440,
        "wires": [
            [
                "2bf5eacdd9345665"
            ]
        ]
    },
    {
        "id": "2bf5eacdd9345665",
        "type": "http request",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "name": "ReST/PATCH Email",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "a2a345f1c4a3679a",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 1270,
        "y": 2480,
        "wires": [
            [
                "d85c4ac4f3628635"
            ]
        ]
    },
    {
        "id": "da2320ae16a4f58d",
        "type": "inject",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "name": "Initial",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1310,
        "y": 2520,
        "wires": [
            [
                "d85c4ac4f3628635"
            ]
        ]
    },
    {
        "id": "d85c4ac4f3628635",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/email\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 2500,
        "wires": [
            [
                "2a8dc0507b19bdca"
            ]
        ]
    },
    {
        "id": "2a8dc0507b19bdca",
        "type": "http request",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "name": "ReST/GET Email",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "a2a345f1c4a3679a",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 1570,
        "y": 2540,
        "wires": [
            [
                "e25bc056b5db41ce"
            ]
        ]
    },
    {
        "id": "e25bc056b5db41ce",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "224e2fc2749d4aba",
        "name": "toString",
        "func": "msg.payload = JSON.parse(msg.payload).email;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 2580,
        "wires": [
            [
                "3b71c70dfa224f15"
            ]
        ]
    },
    {
        "id": "c09c9f79080483ec",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "name": "PreRequest",
        "func": "if(msg.payload.key && msg.payload.phonenum) {\n    msg.method = \"PATCH\";\n    msg.url = `https://petificationblue.ddns.net:1880/user/wa/${msg.payload.key}/${msg.payload.phonenum}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 2800,
        "wires": [
            [
                "944f70ed4fe97466"
            ]
        ]
    },
    {
        "id": "944f70ed4fe97466",
        "type": "http request",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "name": "ReST/PATCH WhatsApp",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "a2a345f1c4a3679a",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 1350,
        "y": 2840,
        "wires": [
            [
                "d858eda2320d91a7"
            ]
        ]
    },
    {
        "id": "ea728a363f31df95",
        "type": "inject",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "name": "Initial",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1410,
        "y": 2880,
        "wires": [
            [
                "d858eda2320d91a7"
            ]
        ]
    },
    {
        "id": "d858eda2320d91a7",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/wa\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 2860,
        "wires": [
            [
                "d41d0d4dfa028a78"
            ]
        ]
    },
    {
        "id": "d41d0d4dfa028a78",
        "type": "http request",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "name": "ReST/GET WhatsApp",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "a2a345f1c4a3679a",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "senderr": false,
        "x": 1680,
        "y": 2900,
        "wires": [
            [
                "3dc7b852bdbe91d4"
            ]
        ]
    },
    {
        "id": "3dc7b852bdbe91d4",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "05ec82e119a7a212",
        "name": "Parse",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 2940,
        "wires": [
            [
                "b85d976af7d63e03",
                "ed69f1f0ae9fa808"
            ]
        ]
    },
    {
        "id": "f2f86710f80408e7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1c59b2e42a6a75ab",
        "type": "ui_group",
        "name": "Water-Dispenser",
        "tab": "24ee9924ddace3c7",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35e893befae8d648",
        "type": "ui_group",
        "name": "Food Feeder",
        "tab": "24ee9924ddace3c7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad292859cba7b247",
        "type": "ui_group",
        "name": "Notification",
        "tab": "1d987565aa907a44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c166754c88d73fc6",
        "type": "ui_group",
        "name": "Timezone",
        "tab": "1d987565aa907a44",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eba1d9cc6f3a89fd",
        "type": "ui_group",
        "name": "EmailAddress",
        "tab": "1d987565aa907a44",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1eb4aa7d746828a2",
        "type": "mqtt-broker",
        "name": "Do not use this one",
        "broker": "localhost",
        "port": "1883",
        "tls": "a2a345f1c4a3679a",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b1c00c1305e6ac21",
        "type": "ui_group",
        "name": "WhatsApp",
        "tab": "1d987565aa907a44",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad04c2ea2866741d",
        "type": "ui_group",
        "name": "Food Feeder Controller",
        "tab": "24ee9924ddace3c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4579d83e78dcf2ff",
        "type": "ui_group",
        "name": "Phone Number",
        "tab": "1d987565aa907a44",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2a345f1c4a3679a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "24ee9924ddace3c7",
        "type": "ui_tab",
        "name": "petification",
        "icon": "pets",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1d987565aa907a44",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "settings",
        "disabled": false,
        "hidden": false
    }
]