Node-Red Dashboard/flows.json
[
    {
        "id": "2807eb5038af723b",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e696151fe100b641",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b9fe8424681065f7",
            "5fe81c0ac1e84a67",
            "f1c4e655881fcf3d",
            "b3401fa4f95194f2",
            "de8330487978c7e4"
        ],
        "x": 1214,
        "y": 19,
        "w": 378,
        "h": 388
    },
    {
        "id": "3efc7f94eb3f5feb",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a7a8a9d2d3b7ea14",
            "ad49d8dd3293b608",
            "e8a4362463e56e2f",
            "ec25f9eb4cb8befd",
            "7cc8dbda845609bf",
            "49ec07d5a9500807"
        ],
        "x": 14,
        "y": 19,
        "w": 412,
        "h": 448
    },
    {
        "id": "3a2feb40aae8042e",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4da2f82dca9d7280",
            "70e996a0dbefde4b",
            "fba43d5fffa6605b",
            "5aad395c67d025bf",
            "7fa4aab064a5779f",
            "58eb663e412c8dfb",
            "a5faee9225a6c99b",
            "842e491697412ebc",
            "5e451b3e620490e1",
            "f53e285fc6597c27",
            "c7cc03d9c217914e"
        ],
        "x": 14,
        "y": 899,
        "w": 1032,
        "h": 262
    },
    {
        "id": "a37e1c5976c357ca",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "76154c5671033256",
            "a00f359bf3dbcb9f",
            "bb7d19b6895890c7",
            "198abdbade9ccfc5",
            "525ea2738c28d1c4",
            "8ad245ec97dca623",
            "9c43ac31675fac87",
            "2028660bb8ae853a",
            "5e201c69fc116fea"
        ],
        "x": 14,
        "y": 1179,
        "w": 852,
        "h": 302
    },
    {
        "id": "2fcb3ce189b04b4d",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cd2503f047b4c808",
            "ad09774f60e026c1",
            "f68ab5e0874bdcfe",
            "a88c0ecbd55d0648",
            "1e06b071bd1b01a2",
            "564b622117aa89c6",
            "c0e6186262639ba6",
            "6d8c453420c81034",
            "88af194d72d5c519",
            "26bd6756c18ac347"
        ],
        "x": 14,
        "y": 1499,
        "w": 1112,
        "h": 282
    },
    {
        "id": "984a3b613f2b4abc",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1e2791efad22a49d",
            "e4975558ee3868d0",
            "3547605771d61b14",
            "e7b02ce801986909",
            "f93951d199f6561c",
            "64eb80a6f67da9c4",
            "4aa414140e06236c",
            "5eec2ac1e0cdfe7d",
            "d48f225f687e0af3",
            "3aa2a056c41f1ebb"
        ],
        "x": 1214,
        "y": 539,
        "w": 992,
        "h": 362
    },
    {
        "id": "ac174e7784e809ce",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8381ca0aaa2cafa4",
            "1e85f3cdebd559c9",
            "e4addcf160cc3363",
            "315ce6c9ba4d25b4",
            "e8cb69dcf78297a1",
            "8828acc969c8a34e",
            "73352e99e5f755bf",
            "01f2def426cf0844",
            "d6f8102f816e7f80",
            "8b03a6b2f1141366",
            "d53ceb7dacc4ce43",
            "186c59b9d088a899",
            "c8acbebc1b799e6d"
        ],
        "x": 14,
        "y": 539,
        "w": 1052,
        "h": 342
    },
    {
        "id": "f42877e73b463e5a",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a684c6dc311cf248",
            "55d08b4be0e35315",
            "ee78781ad376b48c",
            "c9f5951acd620585",
            "5033acfb7a40ff58",
            "fbac775c76bc33c3",
            "fdd855824429cf5d",
            "fa4212ec273cbbd9",
            "f3801119dcfd5901",
            "b711e183002bde61"
        ],
        "x": 2654,
        "y": 599,
        "w": 992,
        "h": 362
    },
    {
        "id": "4b04d086ad5de92b",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7e74b56c67122fd2",
            "fd6e032637506e5e",
            "df253a0b3fe05084",
            "48336dd51d845429",
            "a24de4eeb2510f89",
            "95ccd9f3332e4585",
            "714efe09bcdb14c5",
            "12402ffb8a74c09b",
            "4a40bec7c63ea06c",
            "732064e323a365d5",
            "49867a8f9fcf6de1",
            "990cf4a3e6b73f38",
            "f3e912f35040ce3e",
            "fdb462b8da6f3143",
            "9e5ff126908e18bd",
            "69562e4061824b1b",
            "714957262501b7e1",
            "78fd0982343ef873",
            "65031937e0b0efd7"
        ],
        "x": 1214,
        "y": 919,
        "w": 1132,
        "h": 442
    },
    {
        "id": "70dd97b42cce4e90",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fad318efa3bf8370",
            "372ff5131e0a9d21",
            "ebf0719a6b2852db",
            "30f97fe45c4f4d29",
            "ddb937c60cd1dd16",
            "fe29708ada8ca4c1",
            "bb0c539d7e2eca54",
            "b4921c8a73239b9f",
            "f6cc12bd9ba0f418",
            "98124579dd5b1f63",
            "b3dcdc07f67b3d5b",
            "d881f8bd9f8555c4"
        ],
        "x": 2654,
        "y": 979,
        "w": 1072,
        "h": 242
    },
    {
        "id": "42c1fdbfda8baa20",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "12dfd1bb22fe8a8a",
            "6d3e3465515e2597",
            "586327e44ffa4ffe",
            "ca92f6cd88cb9b8b"
        ],
        "x": 2654,
        "y": 2119,
        "w": 612,
        "h": 122
    },
    {
        "id": "67a563a3d4b27dd2",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "898ae72159457af1",
            "e8bfea13b216a5d4",
            "140d5f4901347771",
            "c455f4853c45958b",
            "f2b4c1c73a6b3a6c",
            "18da557133285e3a",
            "04729c8adab20efb",
            "c77fd1a058fde16f",
            "72a4115908d159dd",
            "03adfc778873b29d",
            "cc8880d237dba1de",
            "5072b85543a1f166",
            "ff4f10c92e13dfe1"
        ],
        "x": 14,
        "y": 1799,
        "w": 1172,
        "h": 462
    },
    {
        "id": "8b61d9e21f61dbe1",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3460d0c7b385604a",
            "4f8c02041511ef4f",
            "04bfe2c13a6893a7",
            "fd9681c5376095c3",
            "fbef4ca7c629168b",
            "97b7444c24969a61",
            "b947df7e17470543",
            "2e5dbb8d5d2b88f1"
        ],
        "x": 2648,
        "y": 1499,
        "w": 1344,
        "h": 608
    },
    {
        "id": "bf4be24c050477c8",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "01cebc855c52442a",
            "e3c76292e5d759dc",
            "fe5cd6ea4f60ed48",
            "d73b46a160cf656b",
            "eac250045db34d86",
            "fbad5870331e550d",
            "5ff5c950f427e565",
            "5920a648af435001",
            "57d1b5a6d939c419",
            "9fb84f2411852ded",
            "98069c6e47ad8d25",
            "353c649f465840ea"
        ],
        "x": 1214,
        "y": 1379,
        "w": 1032,
        "h": 282
    },
    {
        "id": "5e2620e7642ef2d3",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bde2e3d8333824a0",
            "899d32f86ed28a3c",
            "92f189a434d251ca",
            "908a8e22a62388f5",
            "4271846e7bd991fd",
            "c20f61e0a8ca70bc",
            "3578deeb95fe02fc",
            "c0df4cd1d7e78050",
            "d9b266a200b9063f",
            "4f09ce5b685d23c6",
            "9ccd70abbea3b52a",
            "d0e90e6a7f905711"
        ],
        "x": 2654,
        "y": 1239,
        "w": 1092,
        "h": 242
    },
    {
        "id": "93f3b1d77a2a5fd9",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a0413f926e73b849",
            "29b7a782bc5cbaf6",
            "24450c5c32456c12",
            "cb0a8bb82877f55c",
            "3b9d7eb09c154c3e",
            "daf3f0b03f9749bc",
            "90a50b5331a17f89",
            "18e9e0df67eaa07a"
        ],
        "x": 2654,
        "y": 19,
        "w": 378,
        "h": 508
    },
    {
        "id": "a3ece3656f108bbc",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "80ea020bb4f8fc33",
            "2bc9c3833257da08",
            "1ca803c99df185bf"
        ],
        "x": 454,
        "y": 19,
        "w": 618,
        "h": 348
    },
    {
        "id": "f636b49319806be8",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dfb30754afab5488",
            "f0d2857c5cada444",
            "db8ecee8ea19e798",
            "4ad34142b7396425",
            "55794dfb0543e88a",
            "66371577025b858f",
            "77bee5b2268677d8",
            "b162725a5fba9a97",
            "53382dddfe9cc4db",
            "38e019e76fa45767",
            "c2d726a0664ed81b",
            "2c3ecf0f4275bd9d"
        ],
        "x": 1214,
        "y": 1679,
        "w": 1108,
        "h": 628
    },
    {
        "id": "22daf5b5e05696c0",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a3c0471d89100158",
            "1994c8de8db6d6e7",
            "4cc2d474c87b122e",
            "2f90f07bfc08f747",
            "2f3f33dabcda87b2",
            "76b10766fb105962",
            "c45a5d9c79d0268e",
            "7e417690209a273a",
            "74424c6410534350",
            "b689701444ce75a2",
            "451e2c6eea53c120",
            "1580a0172172d6e9"
        ],
        "x": 2654,
        "y": 2259,
        "w": 1118,
        "h": 628
    },
    {
        "id": "2bc9c3833257da08",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "a3ece3656f108bbc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7986a94a1d338f6c",
            "2435fc8fb1087bfa",
            "063dc03feea34008",
            "35a132ca6b1ff448",
            "71149ecc78f59558",
            "1dc4a0307507438c"
        ],
        "x": 484,
        "y": 79,
        "w": 322,
        "h": 242
    },
    {
        "id": "1ca803c99df185bf",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "a3ece3656f108bbc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dcd835f6ebad537b",
            "c9e03a81936093bf",
            "14f61d1b2d405e6f"
        ],
        "x": 834,
        "y": 79,
        "w": 212,
        "h": 262
    },
    {
        "id": "53382dddfe9cc4db",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ea58f5c894db0458",
            "896f4f5906456c34",
            "8cf2051dcf95925e",
            "77451b9b778d3933"
        ],
        "x": 1614,
        "y": 1739,
        "w": 472,
        "h": 202
    },
    {
        "id": "38e019e76fa45767",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "92b29a3808405772",
            "cb38e50eb17dddb1",
            "84d8623739b4a940"
        ],
        "x": 1634,
        "y": 2119,
        "w": 292,
        "h": 162
    },
    {
        "id": "c2d726a0664ed81b",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "678f70c0d1631edc",
            "fe79331d5ed4c1b9",
            "864d95a9d3021b54"
        ],
        "x": 1624,
        "y": 1979,
        "w": 482,
        "h": 122
    },
    {
        "id": "65031937e0b0efd7",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8fb07fcb5260983e",
            "cefedacc1a9a60fe"
        ],
        "x": 1414,
        "y": 1119,
        "w": 382,
        "h": 82
    },
    {
        "id": "49ec07d5a9500807",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "44563deca0d92f28",
            "4b552e6339b25e5b",
            "cf7373ddd27211bf"
        ],
        "x": 54,
        "y": 259,
        "w": 212,
        "h": 182
    },
    {
        "id": "de8330487978c7e4",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "71f63defb79a6175",
            "f58387f2e46bffb0"
        ],
        "x": 1254,
        "y": 239,
        "w": 312,
        "h": 142
    },
    {
        "id": "97b7444c24969a61",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "8b61d9e21f61dbe1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "90326f2d5348e448",
            "19fd6e82dadd1282",
            "ccd6ce4a5d9991e6",
            "ef23052da338b320"
        ],
        "x": 2674,
        "y": 1659,
        "w": 552,
        "h": 202
    },
    {
        "id": "b947df7e17470543",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "8b61d9e21f61dbe1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3a072ccc2e6d7d23",
            "62993187ae4b034e",
            "60d7d8d0453f9fbb",
            "4c35fb61563899fa",
            "b62818cdcac224ce",
            "9f5e20d5925c5aba"
        ],
        "x": 3274,
        "y": 1539,
        "w": 652,
        "h": 242
    },
    {
        "id": "2e5dbb8d5d2b88f1",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "8b61d9e21f61dbe1",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9fba4c58e4832285",
            "66abe7a7c40f4767",
            "fbf869e7dd7f2cc9",
            "0a2584dcd3238481",
            "a2b15791680a05d4",
            "c5a49d7524b6315f",
            "b9ef77fe4aa82872"
        ],
        "x": 3274,
        "y": 1799,
        "w": 692,
        "h": 282
    },
    {
        "id": "74424c6410534350",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c1495d265f29d216",
            "aa1d5a7e1aeda619",
            "2b20c767724c63ed",
            "2789ef89b7811ef9"
        ],
        "x": 3074,
        "y": 2319,
        "w": 472,
        "h": 202
    },
    {
        "id": "b689701444ce75a2",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ca057a0e4da918a2",
            "fbf2f0c9207dd8f8",
            "6916351ad3da3adb"
        ],
        "x": 3094,
        "y": 2699,
        "w": 292,
        "h": 162
    },
    {
        "id": "451e2c6eea53c120",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3e013854bc275f3d",
            "b0e814edcc7791cc",
            "f7e7d07687931e31"
        ],
        "x": 3084,
        "y": 2559,
        "w": 482,
        "h": 122
    },
    {
        "id": "18e9e0df67eaa07a",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "93f3b1d77a2a5fd9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "282f7ac34aaa670e",
            "55f7368904d4996c"
        ],
        "x": 2694,
        "y": 359,
        "w": 312,
        "h": 142
    },
    {
        "id": "2c3ecf0f4275bd9d",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6baa2ac2d58a73e9",
            "0f5efb3bab246385",
            "5bf56b14ecb6c654"
        ],
        "x": 1954,
        "y": 2119,
        "w": 342,
        "h": 162
    },
    {
        "id": "1580a0172172d6e9",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "43fecccc5099944a",
            "45a882da3339ce43",
            "0e24c01f3a7aa62c"
        ],
        "x": 3414,
        "y": 2699,
        "w": 332,
        "h": 162
    },
    {
        "id": "a7a8a9d2d3b7ea14",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Notification (On / Off)",
        "info": "Use ReST API of User Management",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "ad49d8dd3293b608",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show E-Mail Address",
        "info": "Use ReST API of User Management",
        "x": 150,
        "y": 140,
        "wires": []
    },
    {
        "id": "e8a4362463e56e2f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Whatsapp API-KEY & Phone Number",
        "info": "Use ReST API of User Management",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "44563deca0d92f28",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Show ID",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "4b552e6339b25e5b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Show API Token",
        "info": "",
        "x": 160,
        "y": 400,
        "wires": []
    },
    {
        "id": "b9fe8424681065f7",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water Remaining",
        "info": "Use MSG Subscription",
        "x": 1340,
        "y": 120,
        "wires": []
    },
    {
        "id": "5fe81c0ac1e84a67",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water Consumption",
        "info": "Use Event Listeners",
        "x": 1350,
        "y": 160,
        "wires": []
    },
    {
        "id": "71f63defb79a6175",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "de8330487978c7e4",
        "name": "Show Water Consumption (Daily)",
        "info": "",
        "x": 1410,
        "y": 340,
        "wires": []
    },
    {
        "id": "f1c4e655881fcf3d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water-Dispenser Status",
        "info": "Use Event Listeners",
        "x": 1360,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec25f9eb4cb8befd",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "<Settings>",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "b3401fa4f95194f2",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "<Water-Dispenser>",
        "info": "",
        "x": 1370,
        "y": 60,
        "wires": []
    },
    {
        "id": "7cc8dbda845609bf",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Timezone",
        "info": "Use ReST API of User Management",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "cf7373ddd27211bf",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Enhancement",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "f58387f2e46bffb0",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "de8330487978c7e4",
        "name": "Enhancement",
        "info": "",
        "x": 1350,
        "y": 280,
        "wires": []
    },
    {
        "id": "81dd938944170e06",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Settings",
        "info": "",
        "x": 80,
        "y": 520,
        "wires": []
    },
    {
        "id": "8381ca0aaa2cafa4",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "",
        "label": "User Token Setting",
        "group": "a9de1389895e63c0",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Token",
                "value": "token",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "token": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "e8cb69dcf78297a1"
            ]
        ]
    },
    {
        "id": "1e85f3cdebd559c9",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "group": "a9de1389895e63c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ShowToken",
        "label": "Current User Token",
        "format": "{{msg.payload.token}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "e4addcf160cc3363",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "group": "a9de1389895e63c0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "ShowUsername",
        "label": "Current User Name",
        "format": "{{msg.payload.uname}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 800,
        "wires": []
    },
    {
        "id": "315ce6c9ba4d25b4",
        "type": "inject",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "Initial",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "8828acc969c8a34e"
            ]
        ]
    },
    {
        "id": "e8cb69dcf78297a1",
        "type": "change",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "flow",
                "to": "payload.token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "8828acc969c8a34e"
            ]
        ]
    },
    {
        "id": "8828acc969c8a34e",
        "type": "switch",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "",
        "property": "token",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "186c59b9d088a899"
            ],
            [
                "01f2def426cf0844"
            ]
        ]
    },
    {
        "id": "73352e99e5f755bf",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "Refinement",
        "func": "if(msg.payload.uname) {\n    flow.set('uname', msg.payload.uname);\n    \n    msg.payload = {\n        uname: msg.payload.uname,\n        token: flow.get('token'),\n    };\n} else {\n    msg.payload = {\n        uname: \"No Username\",\n        token: \"No Token\",\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 740,
        "wires": [
            [
                "1e85f3cdebd559c9",
                "e4addcf160cc3363",
                "8b03a6b2f1141366"
            ]
        ]
    },
    {
        "id": "01f2def426cf0844",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "HandleNoToken",
        "func": "msg.payload = {\n    uname: \"No Username\",\n    token: \"No Token\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 800,
        "wires": [
            [
                "1e85f3cdebd559c9",
                "e4addcf160cc3363",
                "8b03a6b2f1141366"
            ]
        ]
    },
    {
        "id": "d6f8102f816e7f80",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "User Info",
        "info": "",
        "x": 100,
        "y": 580,
        "wires": []
    },
    {
        "id": "8b03a6b2f1141366",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "Token Change Event Out",
        "mode": "link",
        "links": [
            "04729c8adab20efb",
            "2028660bb8ae853a",
            "88af194d72d5c519",
            "e4975558ee3868d0",
            "f53e285fc6597c27",
            "55d08b4be0e35315"
        ],
        "x": 795,
        "y": 840,
        "wires": []
    },
    {
        "id": "d53ceb7dacc4ce43",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "Token Change Event Out",
        "info": "",
        "x": 930,
        "y": 840,
        "wires": []
    },
    {
        "id": "7986a94a1d338f6c",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "HTTP In",
        "links": [],
        "x": 535,
        "y": 160,
        "wires": [
            [
                "2435fc8fb1087bfa"
            ]
        ]
    },
    {
        "id": "2435fc8fb1087bfa",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "HTTP Header",
        "func": "msg.headers = {\n    authorization: \"Bearer \" + flow.get('token'),\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 160,
        "wires": [
            [
                "063dc03feea34008"
            ]
        ]
    },
    {
        "id": "063dc03feea34008",
        "type": "http request",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "a2a345f1c4a3679a",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "35a132ca6b1ff448"
            ]
        ]
    },
    {
        "id": "35a132ca6b1ff448",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "ParseResponse",
        "func": "if(msg.statusCode < 400) {\n    msg.payload = JSON.parse(msg.payload);\n} else {\n    msg.payload = {\n        error: msg.statusCode,\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "71149ecc78f59558"
            ]
        ]
    },
    {
        "id": "71149ecc78f59558",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "HTTP Out",
        "mode": "return",
        "links": [],
        "x": 765,
        "y": 280,
        "wires": []
    },
    {
        "id": "1dc4a0307507438c",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "HTTP Adapter",
        "info": "",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "dcd835f6ebad537b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "1ca803c99df185bf",
        "name": "UI Dashboard",
        "info": "",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "c9e03a81936093bf",
        "type": "ui_template",
        "z": "2807eb5038af723b",
        "g": "1ca803c99df185bf",
        "group": "1c59b2e42a6a75ab",
        "name": "dashboard CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style id=\"blue-dashboard\">\n\nbody.nr-dashboard-theme {\n    background: linear-gradient(180deg, #6FD7F4 10.32%, #B9D1DF 64.55%, #C1CAE3 100%);\n}\n\nbody.nr-dashboard-theme md-toolbar {\n   background:rgba(85, 149, 176, 0.56);\n}\n\n/* side-navi */\n\nbody.nr-dashboard-theme md-sidenav {\n    background: linear-gradient(270deg, #59D1F2 10.06%, #72D8F4 40.45%, #90DEF4 65.97%, #B9E7F4 89.41%);\n}\n\nbody.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: rgb(0 0 0);\n    background-color: transparent;\n}\n\n/*\n\neach card panel\n\n    justify-content:space-around;\n*/\nbody.nr-dashboard-theme ui-card-panel {\n    position: absolute;\n    margin-top : 7%; /* additional property*/\n    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);\n    border: 5px solid #4B539C;\n    border-radius: 1em;\n    box-shadow: 0 0 1em 0em rgb(0 0 100 / 50%);\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background: transparent;\n    color: rgb(75,83,156); /* Basic : rgb(215 223 245); */\n    font-weight: bold; /* additional property */\n   \n    \n}\n\n\n.nr-dashboard-theme .nr-dashboard-template {\n    background:transparent;\n}\n\n\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: #000000; /* additional property*/\n    font-size: 25px; /* additional property*/\n    text-shadow: 1px 1px 0px rgb(0 0 0 / 50%);\n    font-weight: bolder; /* additional property*/\n}\n\n\n.md-button{\n    border-radius:0.6em;\n    color: #000000; /*fixed. but I don't know what this code do. */\n}\n\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #053ea8; \n    color:rgb(215 223 245);\n    font-size: 15px; /* additional property*/\n    font-weight: bold; /* additional property*/\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #8AA9E1;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:focus {\n    background-color: #8AA9E1;\n}\n\n/* here now */\n\n.nr-dashboard-theme .nr-dashboard-numeric .value {\n    background:unset;\n    color: rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-form {\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-form-button {\n    background-color: #053ea8;\n    color:rgb(215 223 245);\n}\n\n.nr-dashboard-theme .nr-dashboard-form-button:hover {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme .nr-dashboard-form-button:focus {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme md-input-container.md-default-theme .md-input, md-input-container .md-input {\n     color:rgb(215 223 245);\n    border-color: #074fd4 !important;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n    background-color: rgb(25 31 153);\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-bar {\n    background-color: rgb(94 94 177);\n    box-shadow: inset 0 0 1px #0000005e;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n    background-color: rgb(94 94 177);\n     box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n    background-color: rgb(61 107 232);\n    box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-slider .md-track {\n    background-color: rgb(125 172 249 / 35%);\n}\nmd-slider .md-thumb {\n    box-shadow: 0 0 10px 0px #101086;\n}\n\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n    background-color: #3d6be8;\n    border-color: #3d6be8;\n}\n\n.nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(0 0 0 / 12%);\n    color:rgb(215 223 245);\n    border-radius:0.8em;\n}\n\n.nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n    margin-top: -3px;\n    border-color: #eeeeee7a;\n    \n}\n.nr-dashboard-theme .md-select-menu-container {\n    max-height: 85%;\n    overflow-y: auto;\n    border: none;\n    border-radius: 0.8em;\n}\n.nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n\n}\n.nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(40 53 147);\n   \n    height: 29px;\n    border-radius: 0.6em;\n    margin-left: 10px;\n    margin-right: 10px;\n    margin-top: 2px;\n    box-shadow: 0 0 6px 6px #24202133;\n    transition: 0.3s;\n}\n.nr-dashboard-theme md-select-menu md-option[selected] {\n    color: rgb(130 177 255) !important;\n    background-color: rgb(27 90 197) !important;\n}\n.nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n    background-color: rgb(31 31 152);\n}\n.nr-dashboard-theme md-select-menu md-option:last-child {\n   margin-bottom: 8px;\n}\n.nr-dashboard-theme md-select-menu md-option:hover {\n    background-color: rgb(20 91 211) !important;\n    padding-left: 26px;\n}\n.nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n     border-radius: 14px;\n}\n\n.formlabel{\n    color : black;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 940,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "14f61d1b2d405e6f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "1ca803c99df185bf",
        "name": "Dashboard CSS",
        "info": "",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "12dfd1bb22fe8a8a",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "42c1fdbfda8baa20",
        "name": "Serve Food(By Button)",
        "info": "",
        "x": 2780,
        "y": 2160,
        "wires": []
    },
    {
        "id": "3460d0c7b385604a",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "8b61d9e21f61dbe1",
        "name": "Set Food Serve Schedule",
        "info": "",
        "x": 2790,
        "y": 1540,
        "wires": []
    },
    {
        "id": "6d3e3465515e2597",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "42c1fdbfda8baa20",
        "name": "",
        "label": "User Control Part to Feeding",
        "group": "ad04c2ea2866741d",
        "order": 1,
        "width": "6",
        "height": "6",
        "options": [
            {
                "label": "Set Food Weight (g)",
                "value": "weight",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "weight": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 2800,
        "y": 2200,
        "wires": [
            [
                "586327e44ffa4ffe"
            ]
        ]
    },
    {
        "id": "90326f2d5348e448",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "97b7444c24969a61",
        "name": "",
        "label": "Automatic feeding time setting",
        "group": "ad04c2ea2866741d",
        "order": 5,
        "width": "6",
        "height": "6",
        "options": [
            {
                "label": "Set Time",
                "value": "time",
                "type": "time",
                "required": true,
                "rows": null
            },
            {
                "label": "Serving Amount (g)",
                "value": "weight",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "time": "",
            "weight": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 2830,
        "y": 1740,
        "wires": [
            [
                "19fd6e82dadd1282"
            ]
        ]
    },
    {
        "id": "4da2f82dca9d7280",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "group": "ad292859cba7b247",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Notification Status",
        "format": "{{msg.payload.notification === 1 ? \"On\" : \"Off\"}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 1080,
        "wires": []
    },
    {
        "id": "70e996a0dbefde4b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "Set/Show Notification (On/Off)",
        "info": "",
        "x": 160,
        "y": 940,
        "wires": []
    },
    {
        "id": "fba43d5fffa6605b",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "order": 2,
        "group": "ad292859cba7b247",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"notification\":1}",
                "valueType": "json"
            },
            {
                "color": "#808080",
                "value": "{\"notification\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5aad395c67d025bf",
        "type": "ui_button",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "",
        "group": "ad292859cba7b247",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Notice On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "On",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 980,
        "wires": [
            [
                "58eb663e412c8dfb"
            ]
        ]
    },
    {
        "id": "7fa4aab064a5779f",
        "type": "ui_button",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "",
        "group": "ad292859cba7b247",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Notice Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Off",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "58eb663e412c8dfb"
            ]
        ]
    },
    {
        "id": "58eb663e412c8dfb",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "PreRequest",
        "func": "msg.method = \"PATCH\";\nmsg.url = `https://petificationblue.ddns.net:1880/user/notification/${msg.payload === \"On\" ? 1 : 0}`;\n\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "842e491697412ebc"
            ]
        ]
    },
    {
        "id": "a5faee9225a6c99b",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = `https://petificationblue.ddns.net:1880/user/notification`;\n\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "5e451b3e620490e1"
            ]
        ]
    },
    {
        "id": "842e491697412ebc",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "ReST/PATCH Notification",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "a5faee9225a6c99b"
            ]
        ]
    },
    {
        "id": "5e451b3e620490e1",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "ReST/GET Notification",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "4da2f82dca9d7280",
                "fba43d5fffa6605b"
            ]
        ]
    },
    {
        "id": "f53e285fc6597c27",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 475,
        "y": 1100,
        "wires": [
            [
                "a5faee9225a6c99b"
            ]
        ]
    },
    {
        "id": "c7cc03d9c217914e",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 340,
        "y": 1100,
        "wires": []
    },
    {
        "id": "76154c5671033256",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "Set/Show E-Mail Address",
        "info": "",
        "x": 150,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a00f359bf3dbcb9f",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "group": "eba1d9cc6f3a89fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current E-mail",
        "format": "{{msg.payload.email}}",
        "layout": "col-center",
        "className": "",
        "x": 760,
        "y": 1440,
        "wires": []
    },
    {
        "id": "bb7d19b6895890c7",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "",
        "label": "Set E-mail Address",
        "group": "eba1d9cc6f3a89fd",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set E-mail Address",
                "value": "email-address",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email-address": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "198abdbade9ccfc5"
            ]
        ]
    },
    {
        "id": "198abdbade9ccfc5",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "PreRequest",
        "func": "if(msg.payload[\"email-address\"]) {\n    msg.method = \"PATCH\";\n    msg.url = `https://petificationblue.ddns.net:1880/user/email/${msg.payload[\"email-address\"]}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1300,
        "wires": [
            [
                "8ad245ec97dca623"
            ]
        ]
    },
    {
        "id": "525ea2738c28d1c4",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/email\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1360,
        "wires": [
            [
                "9c43ac31675fac87"
            ]
        ]
    },
    {
        "id": "8ad245ec97dca623",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "ReST/PATCH E-Mail",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 340,
        "y": 1340,
        "wires": [
            [
                "525ea2738c28d1c4"
            ]
        ]
    },
    {
        "id": "9c43ac31675fac87",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "ReST/GET Email",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 650,
        "y": 1400,
        "wires": [
            [
                "a00f359bf3dbcb9f"
            ]
        ]
    },
    {
        "id": "2028660bb8ae853a",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 435,
        "y": 1400,
        "wires": [
            [
                "525ea2738c28d1c4"
            ]
        ]
    },
    {
        "id": "5e201c69fc116fea",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 300,
        "y": 1400,
        "wires": []
    },
    {
        "id": "cd2503f047b4c808",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "Set/Show Whatsapp API & PhoneNum",
        "info": "",
        "x": 190,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ad09774f60e026c1",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "group": "b1c00c1305e6ac21",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current API Key",
        "format": "{{msg.payload.apikey}}",
        "layout": "col-center",
        "className": "",
        "x": 960,
        "y": 1700,
        "wires": []
    },
    {
        "id": "f68ab5e0874bdcfe",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "group": "b1c00c1305e6ac21",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Phone Number",
        "format": "{{msg.payload.phonenum}}",
        "layout": "col-center",
        "className": "",
        "x": 990,
        "y": 1740,
        "wires": []
    },
    {
        "id": "a88c0ecbd55d0648",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "",
        "label": "WhatsApp Account Settings",
        "group": "b1c00c1305e6ac21",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set Phone Number",
                "value": "phonenum",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Set API Key",
                "value": "key",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "phonenum": "",
            "key": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 160,
        "y": 1580,
        "wires": [
            [
                "1e06b071bd1b01a2"
            ]
        ]
    },
    {
        "id": "1e06b071bd1b01a2",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "PreRequest",
        "func": "if(msg.payload.key && msg.payload.phonenum) {\n    msg.method = \"PATCH\";\n    msg.url = `https://petificationblue.ddns.net:1880/user/wa/${msg.payload.key}/${msg.payload.phonenum}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1620,
        "wires": [
            [
                "c0e6186262639ba6"
            ]
        ]
    },
    {
        "id": "564b622117aa89c6",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/wa\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1680,
        "wires": [
            [
                "6d8c453420c81034"
            ]
        ]
    },
    {
        "id": "c0e6186262639ba6",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "ReST/PATCH WhatsApp",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 410,
        "y": 1660,
        "wires": [
            [
                "564b622117aa89c6"
            ]
        ]
    },
    {
        "id": "6d8c453420c81034",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "ReST/GET WhatsApp",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 740,
        "y": 1720,
        "wires": [
            [
                "ad09774f60e026c1",
                "f68ab5e0874bdcfe"
            ]
        ]
    },
    {
        "id": "88af194d72d5c519",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 515,
        "y": 1720,
        "wires": [
            [
                "564b622117aa89c6"
            ]
        ]
    },
    {
        "id": "26bd6756c18ac347",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 380,
        "y": 1720,
        "wires": []
    },
    {
        "id": "898ae72159457af1",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "group": "c166754c88d73fc6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Timezone",
        "format": "{{msg.payload.timezone}}",
        "layout": "col-center",
        "className": "",
        "x": 1070,
        "y": 2220,
        "wires": []
    },
    {
        "id": "e8bfea13b216a5d4",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "Set/Show Timezone",
        "info": "",
        "x": 130,
        "y": 1840,
        "wires": []
    },
    {
        "id": "140d5f4901347771",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "PreRequest",
        "func": "const tz = encodeURIComponent(msg.payload);\nmsg.method = \"PATCH\";\nmsg.url = `https://petificationblue.ddns.net:1880/user/timezone/${tz}`;\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2080,
        "wires": [
            [
                "f2b4c1c73a6b3a6c"
            ]
        ]
    },
    {
        "id": "c455f4853c45958b",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/timezone\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 2140,
        "wires": [
            [
                "18da557133285e3a"
            ]
        ]
    },
    {
        "id": "f2b4c1c73a6b3a6c",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "ReST/PATCH Timezone",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 610,
        "y": 2120,
        "wires": [
            [
                "c455f4853c45958b"
            ]
        ]
    },
    {
        "id": "18da557133285e3a",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "ReST/GET Timezone",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 940,
        "y": 2180,
        "wires": [
            [
                "898ae72159457af1"
            ]
        ]
    },
    {
        "id": "04729c8adab20efb",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 715,
        "y": 2180,
        "wires": [
            [
                "c455f4853c45958b"
            ]
        ]
    },
    {
        "id": "c77fd1a058fde16f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 580,
        "y": 2180,
        "wires": []
    },
    {
        "id": "0b10204871cef669",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Water-Dispenser",
        "info": "",
        "x": 1300,
        "y": 520,
        "wires": []
    },
    {
        "id": "01cebc855c52442a",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "Show Water Remaining",
        "info": "",
        "x": 1340,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e3c76292e5d759dc",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "",
        "group": "1c59b2e42a6a75ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water ",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 2170,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7e74b56c67122fd2",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "order": 3,
        "group": "ae0ea2451b27327f",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Error",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Connected",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "Disconnected",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 2210,
        "y": 1160,
        "wires": []
    },
    {
        "id": "fd6e032637506e5e",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "group": "ae0ea2451b27327f",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Device Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2240,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1e2791efad22a49d",
        "type": "ui_dropdown",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select device",
        "group": "ae0ea2451b27327f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 1790,
        "y": 780,
        "wires": [
            [
                "4aa414140e06236c"
            ]
        ]
    },
    {
        "id": "e4975558ee3868d0",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 1495,
        "y": 620,
        "wires": [
            [
                "e7b02ce801986909"
            ]
        ]
    },
    {
        "id": "3547605771d61b14",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 1360,
        "y": 620,
        "wires": []
    },
    {
        "id": "e7b02ce801986909",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/devices/type/1\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 660,
        "wires": [
            [
                "f93951d199f6561c"
            ]
        ]
    },
    {
        "id": "f93951d199f6561c",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "ReST/GET Devices",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 1610,
        "y": 700,
        "wires": [
            [
                "64eb80a6f67da9c4"
            ]
        ]
    },
    {
        "id": "64eb80a6f67da9c4",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "ConvPayload",
        "func": "const res = [];\n\nlet sel = \"\";\nfor(let obj of msg.payload) {\n    sel = obj.cid;\n    \n    const item = {};\n    item[obj.name] = obj.cid;\n    res.push(item);\n}\n\nmsg.options = res;\nmsg.payload = sel;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 740,
        "wires": [
            [
                "1e2791efad22a49d"
            ]
        ]
    },
    {
        "id": "4aa414140e06236c",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "SaveCid",
        "func": "if(msg.payload) {\n    flow.set('waterSupplier', msg.payload);\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 820,
        "wires": [
            [
                "d48f225f687e0af3"
            ]
        ]
    },
    {
        "id": "5eec2ac1e0cdfe7d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Water Supplier Selection",
        "info": "",
        "x": 1350,
        "y": 580,
        "wires": []
    },
    {
        "id": "d48f225f687e0af3",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Water Supplier Selection Event Out",
        "mode": "link",
        "links": [
            "df253a0b3fe05084",
            "fe5cd6ea4f60ed48",
            "99f3b78c0d3ee1be",
            "f0d2857c5cada444",
            "8bab6421f4c72681"
        ],
        "x": 1875,
        "y": 860,
        "wires": []
    },
    {
        "id": "3aa2a056c41f1ebb",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Water Supplier Selection Event Out",
        "info": "",
        "x": 2040,
        "y": 860,
        "wires": []
    },
    {
        "id": "8fb07fcb5260983e",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "65031937e0b0efd7",
        "name": "Device Status Changed Event Listener",
        "links": [
            "82402946b66c1c49"
        ],
        "x": 1755,
        "y": 1160,
        "wires": [
            [
                "714efe09bcdb14c5"
            ]
        ]
    },
    {
        "id": "cefedacc1a9a60fe",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "65031937e0b0efd7",
        "name": "Device Status Changed Event Listener",
        "info": "Client ID:      msg.payload.cid\nDevice Status:  msg.payload.stat",
        "x": 1590,
        "y": 1160,
        "wires": []
    },
    {
        "id": "df253a0b3fe05084",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "Water Supplier Selection Event Listener",
        "links": [
            "d48f225f687e0af3"
        ],
        "x": 1555,
        "y": 1000,
        "wires": [
            [
                "a24de4eeb2510f89"
            ]
        ]
    },
    {
        "id": "48336dd51d845429",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "Water Supplier Selection Event Listener",
        "info": "",
        "x": 1390,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a24de4eeb2510f89",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = `https://petificationblue.ddns.net:1880/device/${flow.get('waterSupplier')}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1040,
        "wires": [
            [
                "95ccd9f3332e4585"
            ]
        ]
    },
    {
        "id": "95ccd9f3332e4585",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "ReST/GET Device",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 1650,
        "y": 1080,
        "wires": [
            [
                "12402ffb8a74c09b"
            ]
        ]
    },
    {
        "id": "714efe09bcdb14c5",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "Filter",
        "func": "if(msg.payload.cid === flow.get('waterSupplier')) {\n    msg.payload = msg.payload.stat;\n    return [msg, null];\n} else if(msg.payload.cid === flow.get('feedMachine')) {\n    msg.payload = msg.payload.stat;\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 1160,
        "wires": [
            [
                "4a40bec7c63ea06c"
            ],
            [
                "f3e912f35040ce3e"
            ]
        ]
    },
    {
        "id": "12402ffb8a74c09b",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "ConvPayload",
        "func": "if(msg.payload.length === 1) {\n    msg.payload = msg.payload[0][\"status\"];\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1080,
        "wires": [
            [
                "4a40bec7c63ea06c"
            ]
        ]
    },
    {
        "id": "4a40bec7c63ea06c",
        "type": "change",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "Connected",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "Disconnected",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "2",
                "fromt": "num",
                "to": "Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1120,
        "wires": [
            [
                "fd6e032637506e5e",
                "7e74b56c67122fd2"
            ]
        ]
    },
    {
        "id": "732064e323a365d5",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "Device Health",
        "info": "",
        "x": 1310,
        "y": 960,
        "wires": []
    },
    {
        "id": "fe5cd6ea4f60ed48",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "Water Supplier Selection Event Listener",
        "links": [
            "d48f225f687e0af3"
        ],
        "x": 1555,
        "y": 1500,
        "wires": [
            [
                "eac250045db34d86"
            ]
        ]
    },
    {
        "id": "d73b46a160cf656b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "Water Supplier Selection Event Listener",
        "info": "",
        "x": 1390,
        "y": 1500,
        "wires": []
    },
    {
        "id": "186c59b9d088a899",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/name\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 620,
        "wires": [
            [
                "c8acbebc1b799e6d"
            ]
        ]
    },
    {
        "id": "c8acbebc1b799e6d",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "ac174e7784e809ce",
        "name": "ReST/GET Username",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 620,
        "y": 680,
        "wires": [
            [
                "73352e99e5f755bf"
            ]
        ]
    },
    {
        "id": "eac250045db34d86",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "DynSubscribe",
        "func": "if(flow.get('uname') && flow.get('waterSupplier')) {\n    // Unsubscribe curr\n    msg.action = \"unsubscribe\";\n    msg.topic = true;\n    node.send(msg);\n    \n    // New subscription\n    msg.action = \"subscribe\";\n    msg.topic = `users/${flow.get('uname')}/${flow.get('waterSupplier')}/scale/water`;\n    node.send(msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1540,
        "wires": [
            [
                "fbad5870331e550d",
                "5ff5c950f427e565"
            ]
        ]
    },
    {
        "id": "fbad5870331e550d",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 1770,
        "y": 1500,
        "wires": [
            [
                "9fb84f2411852ded",
                "98069c6e47ad8d25"
            ]
        ]
    },
    {
        "id": "5ff5c950f427e565",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "PreRequest",
        "func": "if(msg.action == \"subscribe\") {\n    msg.method = \"GET\";\n    msg.url = `https://petificationblue.ddns.net:1880/record/${encodeURIComponent(msg.topic)}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 1580,
        "wires": [
            [
                "5920a648af435001"
            ]
        ]
    },
    {
        "id": "5920a648af435001",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "ReST/GET Latest Record",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 1910,
        "y": 1620,
        "wires": [
            [
                "57d1b5a6d939c419"
            ]
        ]
    },
    {
        "id": "57d1b5a6d939c419",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "PostRequest",
        "func": "if(msg.payload.length === 1) {\n    msg.payload = parseInt(msg.payload[0].payload);\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 1580,
        "wires": [
            [
                "e3c76292e5d759dc"
            ]
        ]
    },
    {
        "id": "9fb84f2411852ded",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "ParseInt",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 1500,
        "wires": [
            [
                "e3c76292e5d759dc"
            ]
        ]
    },
    {
        "id": "a684c6dc311cf248",
        "type": "ui_dropdown",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select device",
        "group": "93952d2944d4170e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 3230,
        "y": 840,
        "wires": [
            [
                "fdd855824429cf5d"
            ]
        ]
    },
    {
        "id": "55d08b4be0e35315",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 2935,
        "y": 680,
        "wires": [
            [
                "c9f5951acd620585"
            ]
        ]
    },
    {
        "id": "ee78781ad376b48c",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 2800,
        "y": 680,
        "wires": []
    },
    {
        "id": "c9f5951acd620585",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/devices/type/0\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2950,
        "y": 720,
        "wires": [
            [
                "5033acfb7a40ff58"
            ]
        ]
    },
    {
        "id": "5033acfb7a40ff58",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "ReST/GET Devices",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 3050,
        "y": 760,
        "wires": [
            [
                "fbac775c76bc33c3"
            ]
        ]
    },
    {
        "id": "fbac775c76bc33c3",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "ConvPayload",
        "func": "const res = [];\n\nlet sel = \"\";\nfor(let obj of msg.payload) {\n    sel = obj.cid;\n    \n    const item = {};\n    item[obj.name] = obj.cid;\n    res.push(item);\n}\n\nmsg.options = res;\nmsg.payload = sel;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3150,
        "y": 800,
        "wires": [
            [
                "a684c6dc311cf248"
            ]
        ]
    },
    {
        "id": "fdd855824429cf5d",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "SaveCid",
        "func": "if(msg.payload) {\n    flow.set('feedMachine', msg.payload);\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3300,
        "y": 880,
        "wires": [
            [
                "f3801119dcfd5901"
            ]
        ]
    },
    {
        "id": "fa4212ec273cbbd9",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "Device Selection",
        "info": "",
        "x": 2760,
        "y": 640,
        "wires": []
    },
    {
        "id": "f3801119dcfd5901",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "Feed Machine Selection Event Out",
        "mode": "link",
        "links": [
            "fdb462b8da6f3143",
            "ebf0719a6b2852db",
            "92f189a434d251ca",
            "4f8c02041511ef4f",
            "1994c8de8db6d6e7"
        ],
        "x": 3315,
        "y": 920,
        "wires": []
    },
    {
        "id": "b711e183002bde61",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "f42877e73b463e5a",
        "name": "Feed Machine Selection Event Out",
        "info": "",
        "x": 3480,
        "y": 920,
        "wires": []
    },
    {
        "id": "49867a8f9fcf6de1",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "order": 3,
        "group": "93952d2944d4170e",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Error",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Connected",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "Disconnected",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 2210,
        "y": 1300,
        "wires": []
    },
    {
        "id": "990cf4a3e6b73f38",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "group": "93952d2944d4170e",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Device Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2240,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f3e912f35040ce3e",
        "type": "change",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "Connected",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "Disconnected",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "2",
                "fromt": "num",
                "to": "Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1260,
        "wires": [
            [
                "990cf4a3e6b73f38",
                "49867a8f9fcf6de1"
            ]
        ]
    },
    {
        "id": "fdb462b8da6f3143",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "Feed Machine Selection Event Listener",
        "links": [
            "f3801119dcfd5901"
        ],
        "x": 1555,
        "y": 1240,
        "wires": [
            [
                "69562e4061824b1b"
            ]
        ]
    },
    {
        "id": "9e5ff126908e18bd",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "Feed Machine Selection Event Listener",
        "info": "",
        "x": 1390,
        "y": 1240,
        "wires": []
    },
    {
        "id": "69562e4061824b1b",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = `https://petificationblue.ddns.net:1880/device/${flow.get('feedMachine')}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 1280,
        "wires": [
            [
                "714957262501b7e1"
            ]
        ]
    },
    {
        "id": "714957262501b7e1",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "ReST/GET Device",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 1650,
        "y": 1320,
        "wires": [
            [
                "78fd0982343ef873"
            ]
        ]
    },
    {
        "id": "78fd0982343ef873",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "4b04d086ad5de92b",
        "name": "ConvPayload",
        "func": "if(msg.payload.length === 1) {\n    msg.payload = msg.payload[0][\"status\"];\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 1320,
        "wires": [
            [
                "f3e912f35040ce3e"
            ]
        ]
    },
    {
        "id": "fad318efa3bf8370",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "Show Food Bowl Remaining",
        "info": "",
        "x": 2800,
        "y": 1020,
        "wires": []
    },
    {
        "id": "372ff5131e0a9d21",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "",
        "group": "35e893befae8d648",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Food Bowl",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 3630,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ebf0719a6b2852db",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "Feed Machine Selection Event Listener",
        "links": [
            "f3801119dcfd5901"
        ],
        "x": 2995,
        "y": 1060,
        "wires": [
            [
                "ddb937c60cd1dd16"
            ]
        ]
    },
    {
        "id": "30f97fe45c4f4d29",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "Feed Machine Selection Event Listener",
        "info": "",
        "x": 2830,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ddb937c60cd1dd16",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "DynSubscribe",
        "func": "if(flow.get('uname') && flow.get('feedMachine')) {\n    // Unsubscribe curr\n    msg.action = \"unsubscribe\";\n    msg.topic = true;\n    node.send(msg);\n    \n    // New subscription\n    msg.action = \"subscribe\";\n    msg.topic = `users/${flow.get('uname')}/${flow.get('feedMachine')}/scale/bowl`;\n    node.send(msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3040,
        "y": 1100,
        "wires": [
            [
                "fe29708ada8ca4c1",
                "bb0c539d7e2eca54"
            ]
        ]
    },
    {
        "id": "fe29708ada8ca4c1",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 3210,
        "y": 1060,
        "wires": [
            [
                "98124579dd5b1f63",
                "b3dcdc07f67b3d5b"
            ]
        ]
    },
    {
        "id": "bb0c539d7e2eca54",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "PreRequest",
        "func": "if(msg.action == \"subscribe\") {\n    msg.method = \"GET\";\n    msg.url = `https://petificationblue.ddns.net:1880/record/${encodeURIComponent(msg.topic)}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3230,
        "y": 1140,
        "wires": [
            [
                "b4921c8a73239b9f"
            ]
        ]
    },
    {
        "id": "b4921c8a73239b9f",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "ReST/GET Latest Record",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 3350,
        "y": 1180,
        "wires": [
            [
                "f6cc12bd9ba0f418"
            ]
        ]
    },
    {
        "id": "f6cc12bd9ba0f418",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "PostRequest",
        "func": "if(msg.payload.length === 1) {\n    msg.payload = parseInt(msg.payload[0].payload);\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3450,
        "y": 1140,
        "wires": [
            [
                "372ff5131e0a9d21"
            ]
        ]
    },
    {
        "id": "98124579dd5b1f63",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "ParseInt",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3460,
        "y": 1060,
        "wires": [
            [
                "372ff5131e0a9d21"
            ]
        ]
    },
    {
        "id": "bde2e3d8333824a0",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "Show Food Container Remaining",
        "info": "",
        "x": 2810,
        "y": 1280,
        "wires": []
    },
    {
        "id": "899d32f86ed28a3c",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "",
        "group": "35e893befae8d648",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Food Container",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 3640,
        "y": 1360,
        "wires": []
    },
    {
        "id": "92f189a434d251ca",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "Feed Machine Selection Event Listener",
        "links": [
            "f3801119dcfd5901"
        ],
        "x": 2995,
        "y": 1320,
        "wires": [
            [
                "4271846e7bd991fd"
            ]
        ]
    },
    {
        "id": "908a8e22a62388f5",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "Feed Machine Selection Event Listener",
        "info": "",
        "x": 2830,
        "y": 1320,
        "wires": []
    },
    {
        "id": "4271846e7bd991fd",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "DynSubscribe",
        "func": "if(flow.get('uname') && flow.get('feedMachine')) {\n    // Unsubscribe curr\n    msg.action = \"unsubscribe\";\n    msg.topic = true;\n    node.send(msg);\n    \n    // New subscription\n    msg.action = \"subscribe\";\n    msg.topic = `users/${flow.get('uname')}/${flow.get('feedMachine')}/scale/container`;\n    node.send(msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3040,
        "y": 1360,
        "wires": [
            [
                "c20f61e0a8ca70bc",
                "3578deeb95fe02fc"
            ]
        ]
    },
    {
        "id": "c20f61e0a8ca70bc",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 3210,
        "y": 1320,
        "wires": [
            [
                "4f09ce5b685d23c6",
                "9ccd70abbea3b52a"
            ]
        ]
    },
    {
        "id": "3578deeb95fe02fc",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "PreRequest",
        "func": "if(msg.action == \"subscribe\") {\n    msg.method = \"GET\";\n    msg.url = `https://petificationblue.ddns.net:1880/record/${encodeURIComponent(msg.topic)}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3230,
        "y": 1400,
        "wires": [
            [
                "c0df4cd1d7e78050"
            ]
        ]
    },
    {
        "id": "c0df4cd1d7e78050",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "ReST/GET Latest Record",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 3350,
        "y": 1440,
        "wires": [
            [
                "d9b266a200b9063f"
            ]
        ]
    },
    {
        "id": "d9b266a200b9063f",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "PostRequest",
        "func": "if(msg.payload.length === 1) {\n    msg.payload = parseInt(msg.payload[0].payload);\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3450,
        "y": 1400,
        "wires": [
            [
                "899d32f86ed28a3c"
            ]
        ]
    },
    {
        "id": "4f09ce5b685d23c6",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "ParseInt",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3460,
        "y": 1320,
        "wires": [
            [
                "899d32f86ed28a3c"
            ]
        ]
    },
    {
        "id": "586327e44ffa4ffe",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "42c1fdbfda8baa20",
        "name": "PrePublish",
        "func": "msg.topic = `users/${flow.get('uname')}/${flow.get('feedMachine')}/action/feed`;\nmsg.payload = msg.payload.weight;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3030,
        "y": 2200,
        "wires": [
            [
                "ca92f6cd88cb9b8b"
            ]
        ]
    },
    {
        "id": "ca92f6cd88cb9b8b",
        "type": "mqtt out",
        "z": "2807eb5038af723b",
        "g": "42c1fdbfda8baa20",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2f86710f80408e7",
        "x": 3190,
        "y": 2200,
        "wires": []
    },
    {
        "id": "3a072ccc2e6d7d23",
        "type": "ui_table",
        "z": "2807eb5038af723b",
        "g": "b947df7e17470543",
        "group": "ad04c2ea2866741d",
        "name": "Schedule Status",
        "order": 4,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "id",
                "title": "ID",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "time",
                "title": "Time",
                "width": "40%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "weight",
                "title": "Serve Amount",
                "width": "50%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 3660,
        "y": 1740,
        "wires": [
            [
                "66abe7a7c40f4767"
            ]
        ]
    },
    {
        "id": "19fd6e82dadd1282",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "97b7444c24969a61",
        "name": "PreRequest",
        "func": "// [POST] /schedule/:time/:topic/:payload\n\nconst time = msg.payload.time.substring(11, 16);\nconst topic = encodeURIComponent(`users/${flow.get('uname')}/${flow.get('feedMachine')}/action/feed`);\nconst payload = msg.payload.weight;\n\nmsg.method = \"POST\";\nmsg.url = `https://petificationblue.ddns.net:1880/schedule/${time}/${topic}/${payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2970,
        "y": 1780,
        "wires": [
            [
                "ccd6ce4a5d9991e6"
            ]
        ]
    },
    {
        "id": "ccd6ce4a5d9991e6",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "97b7444c24969a61",
        "name": "ReST/POST Schedule",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 3100,
        "y": 1820,
        "wires": [
            [
                "62993187ae4b034e"
            ]
        ]
    },
    {
        "id": "4f8c02041511ef4f",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "8b61d9e21f61dbe1",
        "name": "Feed Machine Selection Event Listener",
        "links": [
            "f3801119dcfd5901"
        ],
        "x": 3215,
        "y": 1580,
        "wires": [
            [
                "62993187ae4b034e"
            ]
        ]
    },
    {
        "id": "04bfe2c13a6893a7",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "8b61d9e21f61dbe1",
        "name": "Feed Machine Selection Event Listener",
        "info": "",
        "x": 3050,
        "y": 1580,
        "wires": []
    },
    {
        "id": "62993187ae4b034e",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "b947df7e17470543",
        "name": "PreRequest",
        "func": "const topic = encodeURIComponent(`users/${flow.get('uname')}/${flow.get('feedMachine')}/action/feed`);\n\nmsg.method = \"GET\";\nmsg.url = `https://petificationblue.ddns.net:1880/schedules/${topic}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3370,
        "y": 1620,
        "wires": [
            [
                "60d7d8d0453f9fbb"
            ]
        ]
    },
    {
        "id": "60d7d8d0453f9fbb",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "b947df7e17470543",
        "name": "ReST/GET Schedule",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 3480,
        "y": 1660,
        "wires": [
            [
                "4c35fb61563899fa"
            ]
        ]
    },
    {
        "id": "72a4115908d159dd",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "TimezoneList",
        "func": "msg.options = [\n  'Europe/Andorra',\n  'Asia/Dubai',\n  'Asia/Kabul',\n  'Europe/Tirane',\n  'Asia/Yerevan',\n  'Antarctica/Casey',\n  'Antarctica/Davis',\n  'Antarctica/DumontDUrville', // https://bugs.chromium.org/p/chromium/issues/detail?id=928068\n  'Antarctica/Mawson',\n  'Antarctica/Palmer',\n  'Antarctica/Rothera',\n  'Antarctica/Syowa',\n  'Antarctica/Troll',\n  'Antarctica/Vostok',\n  'America/Argentina/Buenos_Aires',\n  'America/Argentina/Cordoba',\n  'America/Argentina/Salta',\n  'America/Argentina/Jujuy',\n  'America/Argentina/Tucuman',\n  'America/Argentina/Catamarca',\n  'America/Argentina/La_Rioja',\n  'America/Argentina/San_Juan',\n  'America/Argentina/Mendoza',\n  'America/Argentina/San_Luis',\n  'America/Argentina/Rio_Gallegos',\n  'America/Argentina/Ushuaia',\n  'Pacific/Pago_Pago',\n  'Europe/Vienna',\n  'Australia/Lord_Howe',\n  'Antarctica/Macquarie',\n  'Australia/Hobart',\n  'Australia/Currie',\n  'Australia/Melbourne',\n  'Australia/Sydney',\n  'Australia/Broken_Hill',\n  'Australia/Brisbane',\n  'Australia/Lindeman',\n  'Australia/Adelaide',\n  'Australia/Darwin',\n  'Australia/Perth',\n  'Australia/Eucla',\n  'Asia/Baku',\n  'America/Barbados',\n  'Asia/Dhaka',\n  'Europe/Brussels',\n  'Europe/Sofia',\n  'Atlantic/Bermuda',\n  'Asia/Brunei',\n  'America/La_Paz',\n  'America/Noronha',\n  'America/Belem',\n  'America/Fortaleza',\n  'America/Recife',\n  'America/Araguaina',\n  'America/Maceio',\n  'America/Bahia',\n  'America/Sao_Paulo',\n  'America/Campo_Grande',\n  'America/Cuiaba',\n  'America/Santarem',\n  'America/Porto_Velho',\n  'America/Boa_Vista',\n  'America/Manaus',\n  'America/Eirunepe',\n  'America/Rio_Branco',\n  'America/Nassau',\n  'Asia/Thimphu',\n  'Europe/Minsk',\n  'America/Belize',\n  'America/St_Johns',\n  'America/Halifax',\n  'America/Glace_Bay',\n  'America/Moncton',\n  'America/Goose_Bay',\n  'America/Blanc-Sablon',\n  'America/Toronto',\n  'America/Nipigon',\n  'America/Thunder_Bay',\n  'America/Iqaluit',\n  'America/Pangnirtung',\n  'America/Atikokan',\n  'America/Winnipeg',\n  'America/Rainy_River',\n  'America/Resolute',\n  'America/Rankin_Inlet',\n  'America/Regina',\n  'America/Swift_Current',\n  'America/Edmonton',\n  'America/Cambridge_Bay',\n  'America/Yellowknife',\n  'America/Inuvik',\n  'America/Creston',\n  'America/Dawson_Creek',\n  'America/Fort_Nelson',\n  'America/Vancouver',\n  'America/Whitehorse',\n  'America/Dawson',\n  'Indian/Cocos',\n  'Europe/Zurich',\n  'Africa/Abidjan',\n  'Pacific/Rarotonga',\n  'America/Santiago',\n  'America/Punta_Arenas',\n  'Pacific/Easter',\n  'Asia/Shanghai',\n  'Asia/Urumqi',\n  'America/Bogota',\n  'America/Costa_Rica',\n  'America/Havana',\n  'Atlantic/Cape_Verde',\n  'America/Curacao',\n  'Indian/Christmas',\n  'Asia/Nicosia',\n  'Asia/Famagusta',\n  'Europe/Prague',\n  'Europe/Berlin',\n  'Europe/Copenhagen',\n  'America/Santo_Domingo',\n  'Africa/Algiers',\n  'America/Guayaquil',\n  'Pacific/Galapagos',\n  'Europe/Tallinn',\n  'Africa/Cairo',\n  'Africa/El_Aaiun',\n  'Europe/Madrid',\n  'Africa/Ceuta',\n  'Atlantic/Canary',\n  'Europe/Helsinki',\n  'Pacific/Fiji',\n  'Atlantic/Stanley',\n  'Pacific/Chuuk',\n  'Pacific/Pohnpei',\n  'Pacific/Kosrae',\n  'Atlantic/Faroe',\n  'Europe/Paris',\n  'Europe/London',\n  'Asia/Tbilisi',\n  'America/Cayenne',\n  'Africa/Accra',\n  'Europe/Gibraltar',\n  'America/Godthab',\n  'America/Danmarkshavn',\n  'America/Scoresbysund',\n  'America/Thule',\n  'Europe/Athens',\n  'Atlantic/South_Georgia',\n  'America/Guatemala',\n  'Pacific/Guam',\n  'Africa/Bissau',\n  'America/Guyana',\n  'Asia/Hong_Kong',\n  'America/Tegucigalpa',\n  'America/Port-au-Prince',\n  'Europe/Budapest',\n  'Asia/Jakarta',\n  'Asia/Pontianak',\n  'Asia/Makassar',\n  'Asia/Jayapura',\n  'Europe/Dublin',\n  'Asia/Jerusalem',\n  'Asia/Kolkata',\n  'Indian/Chagos',\n  'Asia/Baghdad',\n  'Asia/Tehran',\n  'Atlantic/Reykjavik',\n  'Europe/Rome',\n  'America/Jamaica',\n  'Asia/Amman',\n  'Asia/Tokyo',\n  'Africa/Nairobi',\n  'Asia/Bishkek',\n  'Pacific/Tarawa',\n  'Pacific/Enderbury',\n  'Pacific/Kiritimati',\n  'Asia/Pyongyang',\n  'Asia/Seoul',\n  'Asia/Almaty',\n  'Asia/Qyzylorda',\n  'Asia/Qostanay', // https://bugs.chromium.org/p/chromium/issues/detail?id=928068\n  'Asia/Aqtobe',\n  'Asia/Aqtau',\n  'Asia/Atyrau',\n  'Asia/Oral',\n  'Asia/Beirut',\n  'Asia/Colombo',\n  'Africa/Monrovia',\n  'Europe/Vilnius',\n  'Europe/Luxembourg',\n  'Europe/Riga',\n  'Africa/Tripoli',\n  'Africa/Casablanca',\n  'Europe/Monaco',\n  'Europe/Chisinau',\n  'Pacific/Majuro',\n  'Pacific/Kwajalein',\n  'Asia/Yangon',\n  'Asia/Ulaanbaatar',\n  'Asia/Hovd',\n  'Asia/Choibalsan',\n  'Asia/Macau',\n  'America/Martinique',\n  'Europe/Malta',\n  'Indian/Mauritius',\n  'Indian/Maldives',\n  'America/Mexico_City',\n  'America/Cancun',\n  'America/Merida',\n  'America/Monterrey',\n  'America/Matamoros',\n  'America/Mazatlan',\n  'America/Chihuahua',\n  'America/Ojinaga',\n  'America/Hermosillo',\n  'America/Tijuana',\n  'America/Bahia_Banderas',\n  'Asia/Kuala_Lumpur',\n  'Asia/Kuching',\n  'Africa/Maputo',\n  'Africa/Windhoek',\n  'Pacific/Noumea',\n  'Pacific/Norfolk',\n  'Africa/Lagos',\n  'America/Managua',\n  'Europe/Amsterdam',\n  'Europe/Oslo',\n  'Asia/Kathmandu',\n  'Pacific/Nauru',\n  'Pacific/Niue',\n  'Pacific/Auckland',\n  'Pacific/Chatham',\n  'America/Panama',\n  'America/Lima',\n  'Pacific/Tahiti',\n  'Pacific/Marquesas',\n  'Pacific/Gambier',\n  'Pacific/Port_Moresby',\n  'Pacific/Bougainville',\n  'Asia/Manila',\n  'Asia/Karachi',\n  'Europe/Warsaw',\n  'America/Miquelon',\n  'Pacific/Pitcairn',\n  'America/Puerto_Rico',\n  'Asia/Gaza',\n  'Asia/Hebron',\n  'Europe/Lisbon',\n  'Atlantic/Madeira',\n  'Atlantic/Azores',\n  'Pacific/Palau',\n  'America/Asuncion',\n  'Asia/Qatar',\n  'Indian/Reunion',\n  'Europe/Bucharest',\n  'Europe/Belgrade',\n  'Europe/Kaliningrad',\n  'Europe/Moscow',\n  'Europe/Simferopol',\n  'Europe/Kirov',\n  'Europe/Astrakhan',\n  'Europe/Volgograd',\n  'Europe/Saratov',\n  'Europe/Ulyanovsk',\n  'Europe/Samara',\n  'Asia/Yekaterinburg',\n  'Asia/Omsk',\n  'Asia/Novosibirsk',\n  'Asia/Barnaul',\n  'Asia/Tomsk',\n  'Asia/Novokuznetsk',\n  'Asia/Krasnoyarsk',\n  'Asia/Irkutsk',\n  'Asia/Chita',\n  'Asia/Yakutsk',\n  'Asia/Khandyga',\n  'Asia/Vladivostok',\n  'Asia/Ust-Nera',\n  'Asia/Magadan',\n  'Asia/Sakhalin',\n  'Asia/Srednekolymsk',\n  'Asia/Kamchatka',\n  'Asia/Anadyr',\n  'Asia/Riyadh',\n  'Pacific/Guadalcanal',\n  'Indian/Mahe',\n  'Africa/Khartoum',\n  'Europe/Stockholm',\n  'Asia/Singapore',\n  'America/Paramaribo',\n  'Africa/Juba',\n  'Africa/Sao_Tome',\n  'America/El_Salvador',\n  'Asia/Damascus',\n  'America/Grand_Turk',\n  'Africa/Ndjamena',\n  'Indian/Kerguelen',\n  'Asia/Bangkok',\n  'Asia/Dushanbe',\n  'Pacific/Fakaofo',\n  'Asia/Dili',\n  'Asia/Ashgabat',\n  'Africa/Tunis',\n  'Pacific/Tongatapu',\n  'Europe/Istanbul',\n  'America/Port_of_Spain',\n  'Pacific/Funafuti',\n  'Asia/Taipei',\n  'Europe/Kiev',\n  'Europe/Uzhgorod',\n  'Europe/Zaporozhye',\n  'Pacific/Wake',\n  'America/New_York',\n  'America/Detroit',\n  'America/Kentucky/Louisville',\n  'America/Kentucky/Monticello',\n  'America/Indiana/Indianapolis',\n  'America/Indiana/Vincennes',\n  'America/Indiana/Winamac',\n  'America/Indiana/Marengo',\n  'America/Indiana/Petersburg',\n  'America/Indiana/Vevay',\n  'America/Chicago',\n  'America/Indiana/Tell_City',\n  'America/Indiana/Knox',\n  'America/Menominee',\n  'America/North_Dakota/Center',\n  'America/North_Dakota/New_Salem',\n  'America/North_Dakota/Beulah',\n  'America/Denver',\n  'America/Boise',\n  'America/Phoenix',\n  'America/Los_Angeles',\n  'America/Anchorage',\n  'America/Juneau',\n  'America/Sitka',\n  'America/Metlakatla',\n  'America/Yakutat',\n  'America/Nome',\n  'America/Adak',\n  'Pacific/Honolulu',\n  'America/Montevideo',\n  'Asia/Samarkand',\n  'Asia/Tashkent',\n  'America/Caracas',\n  'Asia/Ho_Chi_Minh',\n  'Pacific/Efate',\n  'Pacific/Wallis',\n  'Pacific/Apia',\n  'Africa/Johannesburg'\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 1920,
        "wires": [
            [
                "03adfc778873b29d"
            ]
        ]
    },
    {
        "id": "03adfc778873b29d",
        "type": "ui_dropdown",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select timezone",
        "group": "c166754c88d73fc6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 270,
        "y": 1960,
        "wires": [
            [
                "5072b85543a1f166"
            ]
        ]
    },
    {
        "id": "cc8880d237dba1de",
        "type": "inject",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 1880,
        "wires": [
            [
                "72a4115908d159dd"
            ]
        ]
    },
    {
        "id": "5072b85543a1f166",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "SaveTemp",
        "func": "flow.set('temp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2000,
        "wires": [
            [
                "ff4f10c92e13dfe1"
            ]
        ]
    },
    {
        "id": "ff4f10c92e13dfe1",
        "type": "ui_button",
        "z": "2807eb5038af723b",
        "g": "67a563a3d4b27dd2",
        "name": "",
        "group": "c166754c88d73fc6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "submit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "temp",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 2040,
        "wires": [
            [
                "140d5f4901347771"
            ]
        ]
    },
    {
        "id": "4c35fb61563899fa",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "b947df7e17470543",
        "name": "Formatter",
        "func": "const res = [];\n\nfor(let schedule of msg.payload) {\n    res.push({\n        id: schedule.id,\n        time: schedule.time,\n        weight: schedule.payload,\n    });\n}\n\nmsg.payload = res;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3580,
        "y": 1700,
        "wires": [
            [
                "3a072ccc2e6d7d23"
            ]
        ]
    },
    {
        "id": "9fba4c58e4832285",
        "type": "ui_toast",
        "z": "2807eb5038af723b",
        "g": "2e5dbb8d5d2b88f1",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 3450,
        "y": 1920,
        "wires": [
            [
                "fbf869e7dd7f2cc9"
            ]
        ]
    },
    {
        "id": "66abe7a7c40f4767",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2e5dbb8d5d2b88f1",
        "name": "SaveTemp",
        "func": "flow.set('temp', msg.payload.id);\nmsg.topic = \"Delete Confirmation\";\nmsg.payload = \"Do you really want to delete this schedule?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3370,
        "y": 1880,
        "wires": [
            [
                "9fba4c58e4832285"
            ]
        ]
    },
    {
        "id": "fbf869e7dd7f2cc9",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2e5dbb8d5d2b88f1",
        "name": "FilterOK",
        "func": "if(msg.payload === \"OK\") {\n    msg.method = \"DELETE\";\n    msg.url = `https://petificationblue.ddns.net:1880/schedule/${flow.get('temp')}`;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3520,
        "y": 1960,
        "wires": [
            [
                "0a2584dcd3238481"
            ]
        ]
    },
    {
        "id": "0a2584dcd3238481",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "2e5dbb8d5d2b88f1",
        "name": "ReST/DELETE Schedule",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 3630,
        "y": 2000,
        "wires": [
            [
                "a2b15791680a05d4"
            ]
        ]
    },
    {
        "id": "a2b15791680a05d4",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "2e5dbb8d5d2b88f1",
        "name": "Schedule Delete Event Out",
        "mode": "link",
        "links": [
            "fd9681c5376095c3"
        ],
        "x": 3695,
        "y": 2040,
        "wires": []
    },
    {
        "id": "fd9681c5376095c3",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "8b61d9e21f61dbe1",
        "name": "Schedule Delete Event Listener",
        "links": [
            "a2b15791680a05d4"
        ],
        "x": 3215,
        "y": 1620,
        "wires": [
            [
                "62993187ae4b034e"
            ]
        ]
    },
    {
        "id": "fbef4ca7c629168b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "8b61d9e21f61dbe1",
        "name": "Schedule Delete Event Listener",
        "info": "",
        "x": 3070,
        "y": 1620,
        "wires": []
    },
    {
        "id": "c5a49d7524b6315f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2e5dbb8d5d2b88f1",
        "name": "Schedule Delete Event Out",
        "info": "",
        "x": 3830,
        "y": 2040,
        "wires": []
    },
    {
        "id": "ef23052da338b320",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "97b7444c24969a61",
        "name": "Add New Schedule",
        "info": "",
        "x": 2790,
        "y": 1700,
        "wires": []
    },
    {
        "id": "b62818cdcac224ce",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "b947df7e17470543",
        "name": "Show Schedule Table",
        "info": "",
        "x": 3400,
        "y": 1580,
        "wires": []
    },
    {
        "id": "b9ef77fe4aa82872",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2e5dbb8d5d2b88f1",
        "name": "Click to Delete Schedule",
        "info": "",
        "x": 3410,
        "y": 1840,
        "wires": []
    },
    {
        "id": "9f5e20d5925c5aba",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "b947df7e17470543",
        "group": "ad04c2ea2866741d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Click Table Row to Delete Schedule",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 3760,
        "y": 1620,
        "wires": []
    },
    {
        "id": "6baa2ac2d58a73e9",
        "type": "ui_chart",
        "z": "2807eb5038af723b",
        "g": "2c3ecf0f4275bd9d",
        "name": "",
        "group": "1c59b2e42a6a75ab",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "Water Consumption",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2180,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "dfb30754afab5488",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "name": "CacheChecker",
        "func": "// Consumption cache empty\n// Device selection changed\n// Date changed\n// --> Reset consumption cache\nif (!flow.get('waterConsumptionCache')\n    || msg.deviceChanged\n    || msg.timestamp.midnight != flow.get('waterConsumptionCache').start) {\n    const topic = encodeURIComponent(`users/${flow.get('uname')}/${flow.get('waterSupplier')}/scale/water`);\n    \n    msg.method = \"GET\";\n    msg.url = `https://petificationblue.ddns.net:1880/records/${topic}/after/${msg.timestamp.midnight}/last/*`;\n    \n    node.send([msg, null]);\n    \n// Update consumption cache\n} else if(msg.mqtt) {\n    // Ignore error under 10 millisec\n    const timestampLike = (\"\" + msg.timestamp.now).substring(0, 11) + \"%\";\n\n    // build the SQL query\n    msg.topic =\n        //\"SELECT (payload-\" + msg.mqtt.payload + \") AS diff \" +\n        `SELECT (payload - ${msg.mqtt.payload}) AS diff, timestamp ` +\n        \"FROM thingsData \" +\n        \"WHERE topic='\" + msg.mqtt.topic + \"' \" +\n        \"AND deleted=0 \" +\n        \"AND timestamp NOT LIKE '\" + timestampLike + \"' \" +\n        \"ORDER BY id DESC \" +\n        \"LIMIT 1;\";\n\n    node.send([null, msg]);\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment-timezone"
            }
        ],
        "x": 1500,
        "y": 2100,
        "wires": [
            [
                "678f70c0d1631edc"
            ],
            [
                "cb38e50eb17dddb1"
            ]
        ]
    },
    {
        "id": "678f70c0d1631edc",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "c2d726a0664ed81b",
        "name": "ReST/GET Records",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 1750,
        "y": 2060,
        "wires": [
            [
                "fe79331d5ed4c1b9"
            ]
        ]
    },
    {
        "id": "fe79331d5ed4c1b9",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "c2d726a0664ed81b",
        "name": "CalcConsumption",
        "func": "//  FORMAT: \n//      [ { \"x\": $timestamp, \"y\": $consumption } ]\nconst res = [\n    {\n        \"x\": msg.payload.length === 0\n            ? msg.timestamp.midnight\n            : parseInt(msg.payload[0].timestamp),\n        \"y\": 0,\n    }\n];\n\nfor(let idx = 1; idx < msg.payload.length; idx++) {\n    const cur = parseInt(msg.payload[idx].payload);\n    const bef = parseInt(msg.payload[idx - 1].payload);\n    \n    res.push({\n        \"x\": parseInt(msg.payload[idx].timestamp),\n        \"y\": (cur < bef ? bef - cur : 0) + res[res.length - 1][\"y\"],\n    });\n}\n\nflow.set('waterConsumptionCache', {\n    start: msg.timestamp.midnight,\n    consumption: res,\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1990,
        "y": 2060,
        "wires": [
            [
                "0f5efb3bab246385"
            ]
        ]
    },
    {
        "id": "0f5efb3bab246385",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2c3ecf0f4275bd9d",
        "name": "GraphFormatter",
        "func": "//Calculate food consumption logic\n\n// **EXAMPLE**\n// msg.payload = [{\n//     \"series\": [\"A\", \"B\", \"C\"],\n//     \"data\": [\n//         [{ \"x\": 1504029632890, \"y\": 5 }, { \"x\": 1504029633514, \"y\": 6 }, { \"x\": 1504029634400, \"y\": 7 }],\n//     ],\n//     \"labels\": [\"\"]\n// }]\n\nmsg.payload = [{\n    \"series\": [\"Consumption\"],\n    \"data\": [flow.get('waterConsumptionCache').consumption],\n    \"labels\": [\"\"],\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2060,
        "y": 2200,
        "wires": [
            [
                "6baa2ac2d58a73e9"
            ]
        ]
    },
    {
        "id": "f0d2857c5cada444",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "name": "Water Supplier Selection Event Listener",
        "links": [
            "d48f225f687e0af3"
        ],
        "x": 1555,
        "y": 1760,
        "wires": [
            [
                "b162725a5fba9a97"
            ]
        ]
    },
    {
        "id": "db8ecee8ea19e798",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "name": "Water Supplier Selection Event Listener",
        "info": "",
        "x": 1390,
        "y": 1760,
        "wires": []
    },
    {
        "id": "ea58f5c894db0458",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "53382dddfe9cc4db",
        "name": "Local Midnight",
        "info": "",
        "x": 1720,
        "y": 1780,
        "wires": []
    },
    {
        "id": "4ad34142b7396425",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "name": "Water Scale Publish Event Listener",
        "links": [
            "98069c6e47ad8d25"
        ],
        "x": 1535,
        "y": 1840,
        "wires": [
            [
                "77bee5b2268677d8"
            ]
        ]
    },
    {
        "id": "55794dfb0543e88a",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "name": "Water Scale Publish Event Listener",
        "info": "",
        "x": 1380,
        "y": 1840,
        "wires": []
    },
    {
        "id": "896f4f5906456c34",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "53382dddfe9cc4db",
        "name": "PreRequest",
        "func": "msg.timestamp = {\n    now: new Date().getTime(),\n}\n\nmsg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/timezone\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 1820,
        "wires": [
            [
                "8cf2051dcf95925e"
            ]
        ]
    },
    {
        "id": "8cf2051dcf95925e",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "53382dddfe9cc4db",
        "name": "ReST/GET Timezone",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 1840,
        "y": 1860,
        "wires": [
            [
                "77451b9b778d3933"
            ]
        ]
    },
    {
        "id": "5bf56b14ecb6c654",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2c3ecf0f4275bd9d",
        "name": "Print Graph",
        "info": "",
        "x": 2050,
        "y": 2160,
        "wires": []
    },
    {
        "id": "92b29a3808405772",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "38e019e76fa45767",
        "name": "Calculate Decrease",
        "func": "let decr = 0;\nlet timestamp = msg.timestamp.now;\n\nif(msg.payload.length == 1) {\n    timestamp = parseInt(msg.payload[0].timestamp);\n    if(msg.payload[0].diff > 0) {\n        decr = msg.payload[0].diff;\n    }\n}\n\nconst res = flow.get('waterConsumptionCache');\nconst item = {\n    \"x\": timestamp,\n    \"y\": res.consumption[res.consumption.length - 1][\"y\"] + decr,\n};\n\nres.consumption.push(item);\nflow.set('waterConsumptionCache', res);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 2240,
        "wires": [
            [
                "0f5efb3bab246385"
            ]
        ]
    },
    {
        "id": "98069c6e47ad8d25",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "Water Scale Publish Event Out",
        "mode": "link",
        "links": [
            "4ad34142b7396425"
        ],
        "x": 1875,
        "y": 1440,
        "wires": []
    },
    {
        "id": "353c649f465840ea",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "bf4be24c050477c8",
        "name": "Water Scale Publish Event Out",
        "info": "",
        "x": 2030,
        "y": 1440,
        "wires": []
    },
    {
        "id": "cb38e50eb17dddb1",
        "type": "mysql",
        "z": "2807eb5038af723b",
        "g": "38e019e76fa45767",
        "mydb": "1654a6d7a221376c",
        "name": "",
        "x": 1720,
        "y": 2200,
        "wires": [
            [
                "92b29a3808405772"
            ]
        ]
    },
    {
        "id": "84d8623739b4a940",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "38e019e76fa45767",
        "name": "Update Cache",
        "info": "",
        "x": 1740,
        "y": 2160,
        "wires": []
    },
    {
        "id": "77451b9b778d3933",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "53382dddfe9cc4db",
        "name": "CalcLocalMidnight",
        "func": "msg.timestamp.midnight = parseInt(moment.tz(msg.timestamp.now, msg.payload.timezone)\n        .startOf(\"day\")\n        .format('x'));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment-timezone"
            }
        ],
        "x": 1970,
        "y": 1900,
        "wires": [
            [
                "dfb30754afab5488"
            ]
        ]
    },
    {
        "id": "66371577025b858f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "name": "Water Consumption Graph",
        "info": "",
        "x": 1350,
        "y": 1720,
        "wires": []
    },
    {
        "id": "77bee5b2268677d8",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "name": "SaveMSG",
        "func": "msg.mqtt = {\n    topic: msg.topic,\n    payload: parseInt(msg.payload),\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1880,
        "wires": [
            [
                "896f4f5906456c34"
            ]
        ]
    },
    {
        "id": "b162725a5fba9a97",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "f636b49319806be8",
        "name": "SetFlag",
        "func": "msg.deviceChanged = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1800,
        "wires": [
            [
                "896f4f5906456c34"
            ]
        ]
    },
    {
        "id": "864d95a9d3021b54",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "c2d726a0664ed81b",
        "name": "Reset Cache",
        "info": "",
        "x": 1730,
        "y": 2020,
        "wires": []
    },
    {
        "id": "a3c0471d89100158",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "name": "CacheChecker",
        "func": "// Consumption cache empty\n// Device selection changed\n// Date changed\n// --> Reset consumption cache\nif (!flow.get('foodConsumptionCache')\n    || msg.deviceChanged\n    || msg.timestamp.midnight != flow.get('foodConsumptionCache').start) {\n    const topic = encodeURIComponent(`users/${flow.get('uname')}/${flow.get('feedMachine')}/scale/bowl`);\n    \n    msg.method = \"GET\";\n    msg.url = `https://petificationblue.ddns.net:1880/records/${topic}/after/${msg.timestamp.midnight}/last/*`;\n    \n    node.send([msg, null]);\n    \n// Update consumption cache\n} else if(msg.mqtt) {\n    // Ignore error under 10 millisec\n    const timestampLike = (\"\" + msg.timestamp.now).substring(0, 11) + \"%\";\n\n    // build the SQL query\n    msg.topic =\n        //\"SELECT (payload-\" + msg.mqtt.payload + \") AS diff \" +\n        `SELECT (payload - ${msg.mqtt.payload}) AS diff, timestamp ` +\n        \"FROM thingsData \" +\n        \"WHERE topic='\" + msg.mqtt.topic + \"' \" +\n        \"AND deleted=0 \" +\n        \"AND timestamp NOT LIKE '\" + timestampLike + \"' \" +\n        \"ORDER BY id DESC \" +\n        \"LIMIT 1;\";\n\n    node.send([null, msg]);\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment-timezone"
            }
        ],
        "x": 2960,
        "y": 2680,
        "wires": [
            [
                "3e013854bc275f3d"
            ],
            [
                "fbf2f0c9207dd8f8"
            ]
        ]
    },
    {
        "id": "1994c8de8db6d6e7",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "name": "Feed Machine Selection Event Listener",
        "links": [
            "f3801119dcfd5901"
        ],
        "x": 3015,
        "y": 2340,
        "wires": [
            [
                "7e417690209a273a"
            ]
        ]
    },
    {
        "id": "4cc2d474c87b122e",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "name": "Feed Machine Selection Event Listener",
        "info": "",
        "x": 2850,
        "y": 2340,
        "wires": []
    },
    {
        "id": "2f90f07bfc08f747",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "name": "Food Bowl Scale Publish Event Listener",
        "links": [
            "b3dcdc07f67b3d5b"
        ],
        "x": 2995,
        "y": 2420,
        "wires": [
            [
                "c45a5d9c79d0268e"
            ]
        ]
    },
    {
        "id": "2f3f33dabcda87b2",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "name": "Food Bowl Scale Publish Event Listener",
        "info": "",
        "x": 2830,
        "y": 2420,
        "wires": []
    },
    {
        "id": "76b10766fb105962",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "name": "Food Consumption Graph",
        "info": "",
        "x": 2810,
        "y": 2300,
        "wires": []
    },
    {
        "id": "c45a5d9c79d0268e",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "name": "SaveMSG",
        "func": "msg.mqtt = {\n    topic: msg.topic,\n    payload: parseInt(msg.payload),\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2960,
        "y": 2460,
        "wires": [
            [
                "aa1d5a7e1aeda619"
            ]
        ]
    },
    {
        "id": "7e417690209a273a",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "22daf5b5e05696c0",
        "name": "SetFlag",
        "func": "msg.deviceChanged = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2960,
        "y": 2380,
        "wires": [
            [
                "aa1d5a7e1aeda619"
            ]
        ]
    },
    {
        "id": "43fecccc5099944a",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "1580a0172172d6e9",
        "name": "GraphFormatter",
        "func": "//Calculate food consumption logic\n\n// **EXAMPLE**\n// msg.payload = [{\n//     \"series\": [\"A\", \"B\", \"C\"],\n//     \"data\": [\n//         [{ \"x\": 1504029632890, \"y\": 5 }, { \"x\": 1504029633514, \"y\": 6 }, { \"x\": 1504029634400, \"y\": 7 }],\n//     ],\n//     \"labels\": [\"\"]\n// }]\n\nmsg.payload = [{\n    \"series\": [\"Consumption\"],\n    \"data\": [flow.get('foodConsumptionCache').consumption],\n    \"labels\": [\"\"],\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3520,
        "y": 2780,
        "wires": [
            [
                "0e24c01f3a7aa62c"
            ]
        ]
    },
    {
        "id": "45a882da3339ce43",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "1580a0172172d6e9",
        "name": "Print Graph",
        "info": "",
        "x": 3510,
        "y": 2740,
        "wires": []
    },
    {
        "id": "c1495d265f29d216",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "74424c6410534350",
        "name": "Local Midnight",
        "info": "",
        "x": 3180,
        "y": 2360,
        "wires": []
    },
    {
        "id": "aa1d5a7e1aeda619",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "74424c6410534350",
        "name": "PreRequest",
        "func": "msg.timestamp = {\n    now: new Date().getTime(),\n}\n\nmsg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/timezone\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 2400,
        "wires": [
            [
                "2b20c767724c63ed"
            ]
        ]
    },
    {
        "id": "2b20c767724c63ed",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "74424c6410534350",
        "name": "ReST/GET Timezone",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 3300,
        "y": 2440,
        "wires": [
            [
                "2789ef89b7811ef9"
            ]
        ]
    },
    {
        "id": "2789ef89b7811ef9",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "74424c6410534350",
        "name": "CalcLocalMidnight",
        "func": "msg.timestamp.midnight = parseInt(moment.tz(msg.timestamp.now, msg.payload.timezone)\n        .startOf(\"day\")\n        .format('x'));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment-timezone"
            }
        ],
        "x": 3430,
        "y": 2480,
        "wires": [
            [
                "a3c0471d89100158"
            ]
        ]
    },
    {
        "id": "ca057a0e4da918a2",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "b689701444ce75a2",
        "name": "Calculate Decrease",
        "func": "let decr = 0;\nlet timestamp = msg.timestamp.now;\n\nif(msg.payload.length == 1) {\n    timestamp = parseInt(msg.payload[0].timestamp);\n    if(msg.payload[0].diff > 0) {\n        decr = msg.payload[0].diff;\n    }\n}\n\nconst res = flow.get('foodConsumptionCache');\nconst item = {\n    \"x\": timestamp,\n    \"y\": res.consumption[res.consumption.length - 1][\"y\"] + decr,\n};\n\nres.consumption.push(item);\nflow.set('foodConsumptionCache', res);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3270,
        "y": 2820,
        "wires": [
            [
                "43fecccc5099944a"
            ]
        ]
    },
    {
        "id": "fbf2f0c9207dd8f8",
        "type": "mysql",
        "z": "2807eb5038af723b",
        "g": "b689701444ce75a2",
        "mydb": "1654a6d7a221376c",
        "name": "",
        "x": 3180,
        "y": 2780,
        "wires": [
            [
                "ca057a0e4da918a2"
            ]
        ]
    },
    {
        "id": "6916351ad3da3adb",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "b689701444ce75a2",
        "name": "Update Cache",
        "info": "",
        "x": 3200,
        "y": 2740,
        "wires": []
    },
    {
        "id": "3e013854bc275f3d",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "451e2c6eea53c120",
        "name": "ReST/GET Records",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 3210,
        "y": 2640,
        "wires": [
            [
                "b0e814edcc7791cc"
            ]
        ]
    },
    {
        "id": "b0e814edcc7791cc",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "451e2c6eea53c120",
        "name": "CalcConsumption",
        "func": "//  FORMAT: \n//      [ { \"x\": $timestamp, \"y\": $consumption } ]\nconst res = [\n    {\n        \"x\": msg.payload.length === 0\n            ? msg.timestamp.midnight\n            : parseInt(msg.payload[0].timestamp),\n        \"y\": 0,\n    }\n];\n\nfor(let idx = 1; idx < msg.payload.length; idx++) {\n    const cur = parseInt(msg.payload[idx].payload);\n    const bef = parseInt(msg.payload[idx - 1].payload);\n    \n    res.push({\n        \"x\": parseInt(msg.payload[idx].timestamp),\n        \"y\": (cur < bef ? bef - cur : 0) + res[res.length - 1][\"y\"],\n    });\n}\n\nflow.set('foodConsumptionCache', {\n    start: msg.timestamp.midnight,\n    consumption: res,\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3450,
        "y": 2640,
        "wires": [
            [
                "43fecccc5099944a"
            ]
        ]
    },
    {
        "id": "f7e7d07687931e31",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "451e2c6eea53c120",
        "name": "Reset Cache",
        "info": "",
        "x": 3190,
        "y": 2600,
        "wires": []
    },
    {
        "id": "b3dcdc07f67b3d5b",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "Food Bowl Scale Publish Event Out",
        "mode": "link",
        "links": [
            "2f90f07bfc08f747"
        ],
        "x": 3295,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d881f8bd9f8555c4",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "70dd97b42cce4e90",
        "name": "Food Bowl Scale Publish Event Out",
        "info": "",
        "x": 3460,
        "y": 1020,
        "wires": []
    },
    {
        "id": "9ccd70abbea3b52a",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "Food Container Scale Publish Event Out",
        "mode": "link",
        "links": [],
        "x": 3295,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d0e90e6a7f905711",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "5e2620e7642ef2d3",
        "name": "Food Container Scale Publish Event Out",
        "info": "",
        "x": 3480,
        "y": 1280,
        "wires": []
    },
    {
        "id": "0e24c01f3a7aa62c",
        "type": "ui_chart",
        "z": "2807eb5038af723b",
        "g": "1580a0172172d6e9",
        "name": "",
        "group": "35e893befae8d648",
        "order": 3,
        "width": "6",
        "height": "7",
        "label": "Food Consumption",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff2600",
            "#2ca02c",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff2600",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 2820,
        "wires": [
            []
        ]
    },
    {
        "id": "a0413f926e73b849",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "93f3b1d77a2a5fd9",
        "name": "Show Food Remaining (Container)",
        "info": "Use MSG Subscription",
        "x": 2820,
        "y": 120,
        "wires": []
    },
    {
        "id": "29b7a782bc5cbaf6",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "93f3b1d77a2a5fd9",
        "name": "Show Food Remaining (Bowl)",
        "info": "Use MSG Subscription",
        "x": 2800,
        "y": 160,
        "wires": []
    },
    {
        "id": "24450c5c32456c12",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "93f3b1d77a2a5fd9",
        "name": "Show Food Consumption",
        "info": "Use Event Listeners",
        "x": 2790,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb0a8bb82877f55c",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "93f3b1d77a2a5fd9",
        "name": "Serve Food (By Button)",
        "info": "Use MSG Publicationn",
        "x": 2780,
        "y": 240,
        "wires": []
    },
    {
        "id": "3b9d7eb09c154c3e",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "93f3b1d77a2a5fd9",
        "name": "Set/Show Food Serve Schedule",
        "info": "",
        "x": 2810,
        "y": 280,
        "wires": []
    },
    {
        "id": "daf3f0b03f9749bc",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "93f3b1d77a2a5fd9",
        "name": "Show Food-Feeder Status",
        "info": "Use Event Listeners",
        "x": 2790,
        "y": 320,
        "wires": []
    },
    {
        "id": "90a50b5331a17f89",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "93f3b1d77a2a5fd9",
        "name": "<Food-Feeder>",
        "info": "",
        "x": 2820,
        "y": 60,
        "wires": []
    },
    {
        "id": "282f7ac34aaa670e",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "18e9e0df67eaa07a",
        "name": "Show Food Consumption (Daily)",
        "info": "",
        "x": 2850,
        "y": 460,
        "wires": []
    },
    {
        "id": "55f7368904d4996c",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "18e9e0df67eaa07a",
        "name": "Enhancement",
        "info": "",
        "x": 2790,
        "y": 400,
        "wires": []
    },
    {
        "id": "df296ab9d3bf1ad0",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "<Food-Feeder>",
        "info": "",
        "x": 2740,
        "y": 580,
        "wires": []
    },
    {
        "id": "80ea020bb4f8fc33",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a3ece3656f108bbc",
        "name": "Adapters",
        "info": "",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "5ddce720755e9962",
        "type": "ui_spacer",
        "z": "2807eb5038af723b",
        "name": "spacer",
        "group": "b9bec03efffc885d",
        "order": 3,
        "width": "6",
        "height": "1"
    },
    {
        "id": "9e9ce08837fa5952",
        "type": "ui_spacer",
        "z": "2807eb5038af723b",
        "name": "spacer",
        "group": "ad04c2ea2866741d",
        "order": 2,
        "width": "6",
        "height": "1"
    },
    {
        "id": "a9de1389895e63c0",
        "type": "ui_group",
        "name": "User Info",
        "tab": "1d987565aa907a44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2a345f1c4a3679a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "1c59b2e42a6a75ab",
        "type": "ui_group",
        "name": "Statistics",
        "tab": "ca764433f99f8efb",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad04c2ea2866741d",
        "type": "ui_group",
        "name": "Serve Food",
        "tab": "24ee9924ddace3c7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad292859cba7b247",
        "type": "ui_group",
        "name": "Notification",
        "tab": "1d987565aa907a44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eba1d9cc6f3a89fd",
        "type": "ui_group",
        "name": "EmailAddress",
        "tab": "1d987565aa907a44",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1c00c1305e6ac21",
        "type": "ui_group",
        "name": "WhatsApp",
        "tab": "1d987565aa907a44",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c166754c88d73fc6",
        "type": "ui_group",
        "name": "Timezone",
        "tab": "1d987565aa907a44",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae0ea2451b27327f",
        "type": "ui_group",
        "name": "Device Info",
        "tab": "ca764433f99f8efb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2f86710f80408e7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "93952d2944d4170e",
        "type": "ui_group",
        "name": "Device Info",
        "tab": "24ee9924ddace3c7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35e893befae8d648",
        "type": "ui_group",
        "name": "Feed Machine Statistics",
        "tab": "24ee9924ddace3c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1654a6d7a221376c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1d987565aa907a44",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "settings",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca764433f99f8efb",
        "type": "ui_tab",
        "name": "Water Supplier",
        "icon": "pets",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "24ee9924ddace3c7",
        "type": "ui_tab",
        "name": "Feed Machine",
        "icon": "pets",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]