Node-Red Dashboard/flows.json
[
    {
        "id": "2807eb5038af723b",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e696151fe100b641",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b9fe8424681065f7",
            "5fe81c0ac1e84a67",
            "f1c4e655881fcf3d",
            "b3401fa4f95194f2",
            "de8330487978c7e4"
        ],
        "x": 454,
        "y": 19,
        "w": 378,
        "h": 388
    },
    {
        "id": "3efc7f94eb3f5feb",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a7a8a9d2d3b7ea14",
            "ad49d8dd3293b608",
            "e8a4362463e56e2f",
            "ec25f9eb4cb8befd",
            "7cc8dbda845609bf",
            "49ec07d5a9500807"
        ],
        "x": 14,
        "y": 19,
        "w": 412,
        "h": 448
    },
    {
        "id": "aca29bb12e81f5db",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d788315f4bedd8a2",
            "7daea3ec91003b5e",
            "edc66f109caf9265",
            "0d11babe96377c80",
            "d12290f515b40f63",
            "7b903a2c2c61ce76",
            "10c1d30aca6894c2",
            "a93966fcf27fb00d"
        ],
        "x": 854,
        "y": 19,
        "w": 378,
        "h": 508
    },
    {
        "id": "92ba0c02fad53117",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "945f68680f86a283",
            "efd8fb56cdf7bb92",
            "40ce3c4e4def2b5c",
            "242066ee3e34da21",
            "6ba7415a5c7e9de7",
            "dbd87ac1da2ff266",
            "b5bf835afbb8011b",
            "31158ce5cbb7ab6e",
            "40dc2fb9fd1ddd84",
            "2fd65db9997e0687",
            "3dede06d085908f5",
            "ae7580648012c36c",
            "f30c18c67a39581f"
        ],
        "x": 2164,
        "y": 1639,
        "w": 542,
        "h": 682
    },
    {
        "id": "1472bf8acbf251ca",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8381ca0aaa2cafa4",
            "1e85f3cdebd559c9",
            "e4addcf160cc3363",
            "315ce6c9ba4d25b4",
            "e8cb69dcf78297a1",
            "8828acc969c8a34e",
            "63044a5557975e46",
            "fe37133d9ed750c3",
            "73352e99e5f755bf",
            "01f2def426cf0844",
            "d6f8102f816e7f80",
            "8b03a6b2f1141366",
            "d53ceb7dacc4ce43"
        ],
        "x": 34,
        "y": 599,
        "w": 1012,
        "h": 342
    },
    {
        "id": "2bc9c3833257da08",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7986a94a1d338f6c",
            "2435fc8fb1087bfa",
            "063dc03feea34008",
            "35a132ca6b1ff448",
            "71149ecc78f59558",
            "1dc4a0307507438c"
        ],
        "x": 1264,
        "y": 19,
        "w": 322,
        "h": 242
    },
    {
        "id": "1ca803c99df185bf",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dcd835f6ebad537b",
            "c9e03a81936093bf",
            "14f61d1b2d405e6f"
        ],
        "x": 1614,
        "y": 19,
        "w": 212,
        "h": 262
    },
    {
        "id": "c6e159459a9300c9",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b8bbe1126a693417",
            "271508462aad039e"
        ],
        "x": 1854,
        "y": 19,
        "w": 382,
        "h": 82
    },
    {
        "id": "80d68f6c96b39e58",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "14e740697b2a7cd5",
            "c10d466f3bde8daf"
        ],
        "x": 1854,
        "y": 119,
        "w": 332,
        "h": 82
    },
    {
        "id": "bde0f09257fb55c7",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "12dfd1bb22fe8a8a",
            "3460d0c7b385604a",
            "b3858ded798f3798",
            "3ddb3c5806980d4a",
            "83d3bc6b8ba9d668",
            "6d3e3465515e2597",
            "90326f2d5348e448",
            "50a0413d23a3220f"
        ],
        "x": 1634,
        "y": 1959,
        "w": 802,
        "h": 542
    },
    {
        "id": "3a2feb40aae8042e",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4da2f82dca9d7280",
            "70e996a0dbefde4b",
            "fba43d5fffa6605b",
            "5aad395c67d025bf",
            "7fa4aab064a5779f",
            "58eb663e412c8dfb",
            "a5faee9225a6c99b",
            "842e491697412ebc",
            "5e451b3e620490e1",
            "f53e285fc6597c27",
            "c7cc03d9c217914e"
        ],
        "x": 34,
        "y": 959,
        "w": 952,
        "h": 262
    },
    {
        "id": "a37e1c5976c357ca",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "76154c5671033256",
            "a00f359bf3dbcb9f",
            "bb7d19b6895890c7",
            "198abdbade9ccfc5",
            "525ea2738c28d1c4",
            "8ad245ec97dca623",
            "9c43ac31675fac87",
            "2028660bb8ae853a",
            "5e201c69fc116fea"
        ],
        "x": 34,
        "y": 1239,
        "w": 852,
        "h": 302
    },
    {
        "id": "2fcb3ce189b04b4d",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cd2503f047b4c808",
            "ad09774f60e026c1",
            "f68ab5e0874bdcfe",
            "a88c0ecbd55d0648",
            "1e06b071bd1b01a2",
            "564b622117aa89c6",
            "c0e6186262639ba6",
            "6d8c453420c81034",
            "88af194d72d5c519",
            "26bd6756c18ac347"
        ],
        "x": 34,
        "y": 1559,
        "w": 1112,
        "h": 282
    },
    {
        "id": "603ebd9c67ab0d3c",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "898ae72159457af1",
            "e8bfea13b216a5d4",
            "8d703590b22f14ba",
            "140d5f4901347771",
            "c455f4853c45958b",
            "f2b4c1c73a6b3a6c",
            "18da557133285e3a",
            "04729c8adab20efb",
            "c77fd1a058fde16f"
        ],
        "x": 34,
        "y": 1859,
        "w": 932,
        "h": 302
    },
    {
        "id": "49ec07d5a9500807",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "44563deca0d92f28",
            "4b552e6339b25e5b",
            "cf7373ddd27211bf"
        ],
        "x": 54,
        "y": 259,
        "w": 212,
        "h": 182
    },
    {
        "id": "de8330487978c7e4",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "71f63defb79a6175",
            "f58387f2e46bffb0"
        ],
        "x": 494,
        "y": 239,
        "w": 312,
        "h": 142
    },
    {
        "id": "a93966fcf27fb00d",
        "type": "group",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3b3498d77a14fe18",
            "a68eac144d84fa33"
        ],
        "x": 894,
        "y": 359,
        "w": 312,
        "h": 142
    },
    {
        "id": "984a3b613f2b4abc",
        "type": "group",
        "z": "2807eb5038af723b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1e2791efad22a49d",
            "e4975558ee3868d0",
            "3547605771d61b14",
            "e7b02ce801986909",
            "f93951d199f6561c",
            "64eb80a6f67da9c4",
            "4aa414140e06236c",
            "5eec2ac1e0cdfe7d",
            "d48f225f687e0af3",
            "3aa2a056c41f1ebb"
        ],
        "x": 1134,
        "y": 639,
        "w": 932,
        "h": 362
    },
    {
        "id": "a7a8a9d2d3b7ea14",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Notification (On / Off)",
        "info": "Use ReST API of User Management",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "ad49d8dd3293b608",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show E-Mail Address",
        "info": "Use ReST API of User Management",
        "x": 150,
        "y": 140,
        "wires": []
    },
    {
        "id": "e8a4362463e56e2f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Whatsapp API-KEY & Phone Number",
        "info": "Use ReST API of User Management",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "44563deca0d92f28",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Show ID",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "4b552e6339b25e5b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Show API Token",
        "info": "",
        "x": 160,
        "y": 400,
        "wires": []
    },
    {
        "id": "b9fe8424681065f7",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water Remaining",
        "info": "Use MSG Subscription",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "5fe81c0ac1e84a67",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water Consumption",
        "info": "Use Event Listeners",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "71f63defb79a6175",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "de8330487978c7e4",
        "name": "Show Water Consumption (Daily)",
        "info": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "d788315f4bedd8a2",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Show Food Remaining (Container)",
        "info": "Use MSG Subscription",
        "x": 1020,
        "y": 120,
        "wires": []
    },
    {
        "id": "7daea3ec91003b5e",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Show Food Remaining (Bowl)",
        "info": "Use MSG Subscription",
        "x": 1000,
        "y": 160,
        "wires": []
    },
    {
        "id": "edc66f109caf9265",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Show Food Consumption",
        "info": "Use Event Listeners",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b3498d77a14fe18",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a93966fcf27fb00d",
        "name": "Show Food Consumption (Daily)",
        "info": "",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "0d11babe96377c80",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Serve Food (By Button)",
        "info": "Use MSG Publicationn",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "d12290f515b40f63",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Set/Show Food Serve Schedule",
        "info": "",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "f1c4e655881fcf3d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "Show Water-Dispenser Status",
        "info": "Use Event Listeners",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "7b903a2c2c61ce76",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "Show Food-Feeder Status",
        "info": "Use Event Listeners",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "ec25f9eb4cb8befd",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "<Settings>",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "b3401fa4f95194f2",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "e696151fe100b641",
        "name": "<Water-Dispenser>",
        "info": "",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "10c1d30aca6894c2",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "aca29bb12e81f5db",
        "name": "<Food-Feeder>",
        "info": "",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "7cc8dbda845609bf",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3efc7f94eb3f5feb",
        "name": "Set/Show Timezone",
        "info": "Use ReST API of User Management",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "cf7373ddd27211bf",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "49ec07d5a9500807",
        "name": "Enhancement",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "f58387f2e46bffb0",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "de8330487978c7e4",
        "name": "Enhancement",
        "info": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "a68eac144d84fa33",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a93966fcf27fb00d",
        "name": "Enhancement",
        "info": "",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "945f68680f86a283",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Food Feeder",
        "info": "",
        "x": 2270,
        "y": 1680,
        "wires": []
    },
    {
        "id": "efd8fb56cdf7bb92",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Show Food Remaining(Container)",
        "info": "",
        "x": 2340,
        "y": 1760,
        "wires": []
    },
    {
        "id": "40ce3c4e4def2b5c",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Show Food Remaining(Bowl)",
        "info": "",
        "x": 2320,
        "y": 1900,
        "wires": []
    },
    {
        "id": "242066ee3e34da21",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Show Food Consumption",
        "info": "",
        "x": 2310,
        "y": 2040,
        "wires": []
    },
    {
        "id": "6ba7415a5c7e9de7",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "Show Food-Feeder Status",
        "info": "",
        "x": 2310,
        "y": 2180,
        "wires": []
    },
    {
        "id": "dbd87ac1da2ff266",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "group": "35e893befae8d648",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Container",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 2620,
        "y": 1820,
        "wires": []
    },
    {
        "id": "b5bf835afbb8011b",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "group": "35e893befae8d648",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bowl",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 2630,
        "y": 1960,
        "wires": []
    },
    {
        "id": "31158ce5cbb7ab6e",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "func": "//Calculate food consumption logic\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 2040,
        "wires": [
            [
                "40dc2fb9fd1ddd84"
            ]
        ]
    },
    {
        "id": "40dc2fb9fd1ddd84",
        "type": "ui_chart",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "group": "35e893befae8d648",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Food Consumption",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2590,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "2fd65db9997e0687",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "group": "35e893befae8d648",
        "order": 4,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Device Health Check",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2580,
        "y": 2240,
        "wires": []
    },
    {
        "id": "3dede06d085908f5",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "order": 5,
        "group": "35e893befae8d648",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 2530,
        "y": 2280,
        "wires": []
    },
    {
        "id": "ae7580648012c36c",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "topic": "users/petification/food-feeder/scale/container",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2370,
        "y": 1820,
        "wires": [
            [
                "dbd87ac1da2ff266"
            ]
        ]
    },
    {
        "id": "f30c18c67a39581f",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "g": "92ba0c02fad53117",
        "name": "",
        "topic": "users/petification/food-feeder/scale/bowl",
        "qos": "1",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2350,
        "y": 1960,
        "wires": [
            [
                "b5bf835afbb8011b",
                "31158ce5cbb7ab6e"
            ]
        ]
    },
    {
        "id": "81dd938944170e06",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Settings",
        "info": "",
        "x": 100,
        "y": 560,
        "wires": []
    },
    {
        "id": "8381ca0aaa2cafa4",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "",
        "label": "User Token Setting",
        "group": "a9de1389895e63c0",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Token",
                "value": "token",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "token": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "e8cb69dcf78297a1"
            ]
        ]
    },
    {
        "id": "1e85f3cdebd559c9",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "group": "a9de1389895e63c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ShowToken",
        "label": "Current User Token",
        "format": "{{msg.payload.token}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "e4addcf160cc3363",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "group": "a9de1389895e63c0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "ShowUsername",
        "label": "Current User Name",
        "format": "{{msg.payload.uname}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 840,
        "wires": []
    },
    {
        "id": "315ce6c9ba4d25b4",
        "type": "inject",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "Initial",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "8828acc969c8a34e"
            ]
        ]
    },
    {
        "id": "e8cb69dcf78297a1",
        "type": "change",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "flow",
                "to": "payload.token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 760,
        "wires": [
            [
                "8828acc969c8a34e"
            ]
        ]
    },
    {
        "id": "8828acc969c8a34e",
        "type": "switch",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "",
        "property": "token",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 780,
        "wires": [
            [
                "63044a5557975e46"
            ],
            [
                "01f2def426cf0844"
            ]
        ]
    },
    {
        "id": "63044a5557975e46",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "DB/SELECT Username",
        "func": "msg.topic = \"SELECT uname\" +\n            \" FROM userData\" +\n            \" WHERE token = '\" + flow.get('token') + \"';\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 680,
        "wires": [
            [
                "fe37133d9ed750c3"
            ]
        ]
    },
    {
        "id": "fe37133d9ed750c3",
        "type": "mysql",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "mydb": "1654a6d7a221376c",
        "name": "",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "73352e99e5f755bf"
            ]
        ]
    },
    {
        "id": "73352e99e5f755bf",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "",
        "func": "if(msg.payload.length === 1) {\n    msg.payload = {\n        uname: msg.payload[0].uname,\n        token: flow.get('token'),\n    };\n} else {\n    msg.payload = {\n        uname: \"No Username\",\n        token: \"No Token\",\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 800,
        "wires": [
            [
                "1e85f3cdebd559c9",
                "e4addcf160cc3363",
                "8b03a6b2f1141366"
            ]
        ]
    },
    {
        "id": "01f2def426cf0844",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "",
        "func": "msg.payload = {\n    uname: \"No Username\",\n    token: \"No Token\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 860,
        "wires": [
            [
                "1e85f3cdebd559c9",
                "e4addcf160cc3363",
                "8b03a6b2f1141366"
            ]
        ]
    },
    {
        "id": "d6f8102f816e7f80",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "User Info",
        "info": "",
        "x": 120,
        "y": 640,
        "wires": []
    },
    {
        "id": "8b03a6b2f1141366",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "Token Change Event Out",
        "mode": "link",
        "links": [
            "04729c8adab20efb",
            "2028660bb8ae853a",
            "88af194d72d5c519",
            "f53e285fc6597c27",
            "e4975558ee3868d0"
        ],
        "x": 775,
        "y": 900,
        "wires": []
    },
    {
        "id": "d53ceb7dacc4ce43",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "1472bf8acbf251ca",
        "name": "Token Change Event Out",
        "info": "",
        "x": 910,
        "y": 900,
        "wires": []
    },
    {
        "id": "7986a94a1d338f6c",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "HTTP In",
        "links": [],
        "x": 1315,
        "y": 100,
        "wires": [
            [
                "2435fc8fb1087bfa"
            ]
        ]
    },
    {
        "id": "2435fc8fb1087bfa",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "HTTP Header",
        "func": "msg.headers = {\n    authorization: \"Bearer \" + flow.get('token'),\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 100,
        "wires": [
            [
                "063dc03feea34008"
            ]
        ]
    },
    {
        "id": "063dc03feea34008",
        "type": "http request",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "a2a345f1c4a3679a",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1420,
        "y": 160,
        "wires": [
            [
                "35a132ca6b1ff448"
            ]
        ]
    },
    {
        "id": "35a132ca6b1ff448",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "ParseResponse",
        "func": "if(msg.statusCode < 400) {\n    msg.payload = JSON.parse(msg.payload);\n} else {\n    msg.payload = {\n        error: msg.statusCode,\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 220,
        "wires": [
            [
                "71149ecc78f59558"
            ]
        ]
    },
    {
        "id": "71149ecc78f59558",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "HTTP Out",
        "mode": "return",
        "links": [],
        "x": 1545,
        "y": 220,
        "wires": []
    },
    {
        "id": "1dc4a0307507438c",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2bc9c3833257da08",
        "name": "HTTP Adapter",
        "info": "",
        "x": 1360,
        "y": 60,
        "wires": []
    },
    {
        "id": "dcd835f6ebad537b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "1ca803c99df185bf",
        "name": "UI Dashboard",
        "info": "",
        "x": 1710,
        "y": 60,
        "wires": []
    },
    {
        "id": "c9e03a81936093bf",
        "type": "ui_template",
        "z": "2807eb5038af723b",
        "g": "1ca803c99df185bf",
        "group": "1c59b2e42a6a75ab",
        "name": "dashboard CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style id=\"blue-dashboard\">\n\nbody.nr-dashboard-theme {\n    background: linear-gradient(180deg, #6FD7F4 10.32%, #B9D1DF 64.55%, #C1CAE3 100%);\n}\n\nbody.nr-dashboard-theme md-toolbar {\n   background:rgba(85, 149, 176, 0.56);\n}\n\n/* side-navi */\n\nbody.nr-dashboard-theme md-sidenav {\n    background: linear-gradient(270deg, #59D1F2 10.06%, #72D8F4 40.45%, #90DEF4 65.97%, #B9E7F4 89.41%);\n}\n\nbody.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: rgb(0 0 0);\n    background-color: transparent;\n}\n\n/*\n\neach card panel\n\n    justify-content:space-around;\n*/\nbody.nr-dashboard-theme ui-card-panel {\n    position: absolute;\n    margin-top : 7%; /* additional property*/\n    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);\n    border: 5px solid #4B539C;\n    border-radius: 1em;\n    box-shadow: 0 0 1em 0em rgb(0 0 100 / 50%);\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background: transparent;\n    color: rgb(75,83,156); /* Basic : rgb(215 223 245); */\n    font-weight: bold; /* additional property */\n   \n    \n}\n\n\n.nr-dashboard-theme .nr-dashboard-template {\n    background:transparent;\n}\n\n\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: #000000; /* additional property*/\n    font-size: 25px; /* additional property*/\n    text-shadow: 1px 1px 0px rgb(0 0 0 / 50%);\n    font-weight: bolder; /* additional property*/\n}\n\n\n.md-button{\n    border-radius:0.6em;\n    color: #000000; /*fixed. but I don't know what this code do. */\n}\n\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #053ea8; \n    color:rgb(215 223 245);\n    font-size: 15px; /* additional property*/\n    font-weight: bold; /* additional property*/\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #8AA9E1;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:focus {\n    background-color: #8AA9E1;\n}\n\n/* here now */\n\n.nr-dashboard-theme .nr-dashboard-numeric .value {\n    background:unset;\n    color: rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-form {\n    color:rgb(215 223 245);\n}\n.nr-dashboard-theme .nr-dashboard-form-button {\n    background-color: #053ea8;\n    color:rgb(215 223 245);\n}\n\n.nr-dashboard-theme .nr-dashboard-form-button:hover {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme .nr-dashboard-form-button:focus {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme md-input-container.md-default-theme .md-input, md-input-container .md-input {\n     color:rgb(215 223 245);\n    border-color: #074fd4 !important;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n    background-color: rgb(25 31 153);\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-bar {\n    background-color: rgb(94 94 177);\n    box-shadow: inset 0 0 1px #0000005e;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n    background-color: rgb(94 94 177);\n     box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n    background-color: rgb(61 107 232);\n    box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-slider .md-track {\n    background-color: rgb(125 172 249 / 35%);\n}\nmd-slider .md-thumb {\n    box-shadow: 0 0 10px 0px #101086;\n}\n\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n    background-color: #3d6be8;\n    border-color: #3d6be8;\n}\n\n.nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(0 0 0 / 12%);\n    color:rgb(215 223 245);\n    border-radius:0.8em;\n}\n\n.nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n    margin-top: -3px;\n    border-color: #eeeeee7a;\n    \n}\n.nr-dashboard-theme .md-select-menu-container {\n    max-height: 85%;\n    overflow-y: auto;\n    border: none;\n    border-radius: 0.8em;\n}\n.nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n\n}\n.nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(40 53 147);\n   \n    height: 29px;\n    border-radius: 0.6em;\n    margin-left: 10px;\n    margin-right: 10px;\n    margin-top: 2px;\n    box-shadow: 0 0 6px 6px #24202133;\n    transition: 0.3s;\n}\n.nr-dashboard-theme md-select-menu md-option[selected] {\n    color: rgb(130 177 255) !important;\n    background-color: rgb(27 90 197) !important;\n}\n.nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n    background-color: rgb(31 31 152);\n}\n.nr-dashboard-theme md-select-menu md-option:last-child {\n   margin-bottom: 8px;\n}\n.nr-dashboard-theme md-select-menu md-option:hover {\n    background-color: rgb(20 91 211) !important;\n    padding-left: 26px;\n}\n.nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n     border-radius: 14px;\n}\n\n.formlabel{\n    color : black;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "14f61d1b2d405e6f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "1ca803c99df185bf",
        "name": "Dashboard CSS",
        "info": "",
        "x": 1720,
        "y": 180,
        "wires": []
    },
    {
        "id": "35ed620d2aa3ee45",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2370,
        "y": 60,
        "wires": []
    },
    {
        "id": "6b9a66c81778c8cf",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2370,
        "y": 160,
        "wires": []
    },
    {
        "id": "9d43962121acb980",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/water-dispenser/scale/water",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2050,
        "y": 300,
        "wires": [
            [
                "482961077b20b713"
            ]
        ]
    },
    {
        "id": "d3c696b8e3f8cad9",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/food-feeder/scale/container",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2050,
        "y": 340,
        "wires": [
            [
                "f8513bee9a118687"
            ]
        ]
    },
    {
        "id": "afd191eb78971cfc",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/food-feeder/scale/bowl",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2040,
        "y": 380,
        "wires": [
            [
                "8f0b8717387ee080"
            ]
        ]
    },
    {
        "id": "482961077b20b713",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2370,
        "y": 300,
        "wires": []
    },
    {
        "id": "f8513bee9a118687",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2370,
        "y": 340,
        "wires": []
    },
    {
        "id": "8f0b8717387ee080",
        "type": "debug",
        "z": "2807eb5038af723b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2370,
        "y": 380,
        "wires": []
    },
    {
        "id": "9df29b0bbd0668b0",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water-Dispenser Status",
        "info": "",
        "x": 2620,
        "y": 40,
        "wires": []
    },
    {
        "id": "021ee3f3a5a6f024",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Food-Feeder Status",
        "info": "",
        "x": 2610,
        "y": 80,
        "wires": []
    },
    {
        "id": "744c98cc17dce929",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water Consumption",
        "info": "",
        "x": 2610,
        "y": 140,
        "wires": []
    },
    {
        "id": "47d89ec68e4b3994",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Food Consumption",
        "info": "",
        "x": 2610,
        "y": 180,
        "wires": []
    },
    {
        "id": "6aa186baa8a1acef",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water Remaining",
        "info": "",
        "x": 2600,
        "y": 300,
        "wires": []
    },
    {
        "id": "ba34433725e9904b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Food Remaining (Container)",
        "info": "",
        "x": 2640,
        "y": 340,
        "wires": []
    },
    {
        "id": "fa143a30b2177406",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Food Remaining (Bowl)",
        "info": "",
        "x": 2620,
        "y": 380,
        "wires": []
    },
    {
        "id": "b8bbe1126a693417",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "c6e159459a9300c9",
        "name": "Device Status Changed Event Listener",
        "links": [
            "82402946b66c1c49"
        ],
        "x": 2195,
        "y": 60,
        "wires": [
            [
                "35ed620d2aa3ee45"
            ]
        ]
    },
    {
        "id": "271508462aad039e",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "c6e159459a9300c9",
        "name": "Device Status Changed Event Listener",
        "info": "Client ID:      msg.payload.cid\nDevice Status:  msg.payload.stat",
        "x": 2030,
        "y": 60,
        "wires": []
    },
    {
        "id": "14e740697b2a7cd5",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "80d68f6c96b39e58",
        "name": "Consumption Event Listener",
        "info": "Topic:          msg.payload.topic\nConsumption:    msg.payload.totalDecr",
        "x": 2000,
        "y": 160,
        "wires": []
    },
    {
        "id": "c10d466f3bde8daf",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "80d68f6c96b39e58",
        "name": "Consumption Event Listener",
        "links": [
            "1ac02030b1753de6"
        ],
        "x": 2145,
        "y": 160,
        "wires": [
            [
                "6b9a66c81778c8cf"
            ]
        ]
    },
    {
        "id": "12dfd1bb22fe8a8a",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "bde0f09257fb55c7",
        "name": "Serve Food(By Button)",
        "info": "",
        "x": 1760,
        "y": 2320,
        "wires": []
    },
    {
        "id": "3460d0c7b385604a",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "bde0f09257fb55c7",
        "name": "Set Food Serve Schedule",
        "info": "",
        "x": 1770,
        "y": 2120,
        "wires": []
    },
    {
        "id": "b3858ded798f3798",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "bde0f09257fb55c7",
        "name": "Food Feeder Controll",
        "info": "",
        "x": 1760,
        "y": 2000,
        "wires": []
    },
    {
        "id": "3ddb3c5806980d4a",
        "type": "mqtt out",
        "z": "2807eb5038af723b",
        "g": "bde0f09257fb55c7",
        "name": "",
        "topic": "users/petification/food-feeder/action/quantity",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2f86710f80408e7",
        "x": 2230,
        "y": 2400,
        "wires": []
    },
    {
        "id": "83d3bc6b8ba9d668",
        "type": "debug",
        "z": "2807eb5038af723b",
        "g": "bde0f09257fb55c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2010,
        "y": 2460,
        "wires": []
    },
    {
        "id": "6d3e3465515e2597",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "bde0f09257fb55c7",
        "name": "",
        "label": "User Control Part to Feeding",
        "group": "ad04c2ea2866741d",
        "order": 1,
        "width": "6",
        "height": "6",
        "options": [
            {
                "label": "Set Food Quantity (g)",
                "value": "quantity",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "quantity": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 1780,
        "y": 2400,
        "wires": [
            [
                "3ddb3c5806980d4a",
                "83d3bc6b8ba9d668"
            ]
        ]
    },
    {
        "id": "90326f2d5348e448",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "bde0f09257fb55c7",
        "name": "",
        "label": "Automatic feeding time setting",
        "group": "ad04c2ea2866741d",
        "order": 2,
        "width": "6",
        "height": "6",
        "options": [
            {
                "label": "Set Time HH:MM (00:00 ~ 23:59)",
                "value": "time",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 1790,
        "y": 2180,
        "wires": [
            [
                "50a0413d23a3220f"
            ]
        ]
    },
    {
        "id": "50a0413d23a3220f",
        "type": "mqtt out",
        "z": "2807eb5038af723b",
        "g": "bde0f09257fb55c7",
        "name": "",
        "topic": "users/petification/food-feeder/action/time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f2f86710f80408e7",
        "x": 2160,
        "y": 2180,
        "wires": []
    },
    {
        "id": "4da2f82dca9d7280",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "group": "ad292859cba7b247",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "On/Off",
        "format": "{{msg.payload.notification === 1 ? \"On\" : \"Off\"}}",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 1140,
        "wires": []
    },
    {
        "id": "70e996a0dbefde4b",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "Set/Show Notification (On/Off)",
        "info": "",
        "x": 180,
        "y": 1000,
        "wires": []
    },
    {
        "id": "fba43d5fffa6605b",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "order": 1,
        "group": "ad292859cba7b247",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "{\"notification\":1}",
                "valueType": "json"
            },
            {
                "color": "#ff0000",
                "value": "{\"notification\":0}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 910,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5aad395c67d025bf",
        "type": "ui_button",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "",
        "group": "ad292859cba7b247",
        "order": 2,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Notice On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "On",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "58eb663e412c8dfb"
            ]
        ]
    },
    {
        "id": "7fa4aab064a5779f",
        "type": "ui_button",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "",
        "group": "ad292859cba7b247",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Notice Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Off",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "58eb663e412c8dfb"
            ]
        ]
    },
    {
        "id": "58eb663e412c8dfb",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "PreRequest",
        "func": "msg.method = \"PATCH\";\nmsg.url = `https://petificationblue.ddns.net:1880/user/notification/${msg.payload === \"On\" ? 1 : 0}`;\n\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1060,
        "wires": [
            [
                "842e491697412ebc"
            ]
        ]
    },
    {
        "id": "a5faee9225a6c99b",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = `https://petificationblue.ddns.net:1880/user/notification`;\n\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1120,
        "wires": [
            [
                "5e451b3e620490e1"
            ]
        ]
    },
    {
        "id": "842e491697412ebc",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "ReST/PATCH Notification",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "a5faee9225a6c99b"
            ]
        ]
    },
    {
        "id": "5e451b3e620490e1",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "ReST/GET Notification",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 720,
        "y": 1160,
        "wires": [
            [
                "4da2f82dca9d7280",
                "fba43d5fffa6605b"
            ]
        ]
    },
    {
        "id": "f53e285fc6597c27",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 495,
        "y": 1160,
        "wires": [
            [
                "a5faee9225a6c99b"
            ]
        ]
    },
    {
        "id": "c7cc03d9c217914e",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "3a2feb40aae8042e",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 360,
        "y": 1160,
        "wires": []
    },
    {
        "id": "76154c5671033256",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "Set/Show E-Mail Address",
        "info": "",
        "x": 170,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a00f359bf3dbcb9f",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "group": "eba1d9cc6f3a89fd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current E-mail",
        "format": "{{msg.payload.email}}",
        "layout": "col-center",
        "className": "",
        "x": 780,
        "y": 1500,
        "wires": []
    },
    {
        "id": "bb7d19b6895890c7",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "",
        "label": "Set E-mail Address",
        "group": "eba1d9cc6f3a89fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set E-mail Address",
                "value": "email-address",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email-address": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "198abdbade9ccfc5"
            ]
        ]
    },
    {
        "id": "198abdbade9ccfc5",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "PreRequest",
        "func": "if(msg.payload[\"email-address\"]) {\n    msg.method = \"PATCH\";\n    msg.url = `https://petificationblue.ddns.net:1880/user/email/${msg.payload[\"email-address\"]}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1360,
        "wires": [
            [
                "8ad245ec97dca623"
            ]
        ]
    },
    {
        "id": "525ea2738c28d1c4",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/email\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1420,
        "wires": [
            [
                "9c43ac31675fac87"
            ]
        ]
    },
    {
        "id": "8ad245ec97dca623",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "ReST/PATCH E-Mail",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 360,
        "y": 1400,
        "wires": [
            [
                "525ea2738c28d1c4"
            ]
        ]
    },
    {
        "id": "9c43ac31675fac87",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "ReST/GET Email",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 670,
        "y": 1460,
        "wires": [
            [
                "a00f359bf3dbcb9f"
            ]
        ]
    },
    {
        "id": "2028660bb8ae853a",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 455,
        "y": 1460,
        "wires": [
            [
                "525ea2738c28d1c4"
            ]
        ]
    },
    {
        "id": "5e201c69fc116fea",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "a37e1c5976c357ca",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 320,
        "y": 1460,
        "wires": []
    },
    {
        "id": "cd2503f047b4c808",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "Set/Show Whatsapp API & PhoneNum",
        "info": "",
        "x": 210,
        "y": 1600,
        "wires": []
    },
    {
        "id": "ad09774f60e026c1",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "group": "b1c00c1305e6ac21",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current API Key",
        "format": "{{msg.payload.apikey}}",
        "layout": "col-center",
        "className": "",
        "x": 980,
        "y": 1760,
        "wires": []
    },
    {
        "id": "f68ab5e0874bdcfe",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "group": "b1c00c1305e6ac21",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Phone Number",
        "format": "{{msg.payload.phonenum}}",
        "layout": "col-center",
        "className": "",
        "x": 1010,
        "y": 1800,
        "wires": []
    },
    {
        "id": "a88c0ecbd55d0648",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "",
        "label": "WhatsApp Account Settings",
        "group": "b1c00c1305e6ac21",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set Phone Number",
                "value": "phonenum",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Set API Key",
                "value": "key",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "phonenum": "",
            "key": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 180,
        "y": 1640,
        "wires": [
            [
                "1e06b071bd1b01a2"
            ]
        ]
    },
    {
        "id": "1e06b071bd1b01a2",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "PreRequest",
        "func": "if(msg.payload.key && msg.payload.phonenum) {\n    msg.method = \"PATCH\";\n    msg.url = `https://petificationblue.ddns.net:1880/user/wa/${msg.payload.key}/${msg.payload.phonenum}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1680,
        "wires": [
            [
                "c0e6186262639ba6"
            ]
        ]
    },
    {
        "id": "564b622117aa89c6",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/wa\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1740,
        "wires": [
            [
                "6d8c453420c81034"
            ]
        ]
    },
    {
        "id": "c0e6186262639ba6",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "ReST/PATCH WhatsApp",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 430,
        "y": 1720,
        "wires": [
            [
                "564b622117aa89c6"
            ]
        ]
    },
    {
        "id": "6d8c453420c81034",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "ReST/GET WhatsApp",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 760,
        "y": 1780,
        "wires": [
            [
                "ad09774f60e026c1",
                "f68ab5e0874bdcfe"
            ]
        ]
    },
    {
        "id": "88af194d72d5c519",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 535,
        "y": 1780,
        "wires": [
            [
                "564b622117aa89c6"
            ]
        ]
    },
    {
        "id": "26bd6756c18ac347",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "2fcb3ce189b04b4d",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 400,
        "y": 1780,
        "wires": []
    },
    {
        "id": "898ae72159457af1",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "group": "c166754c88d73fc6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Timezone",
        "format": "{{msg.payload.timezone}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2120,
        "wires": []
    },
    {
        "id": "e8bfea13b216a5d4",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "name": "Set/Show Timezone",
        "info": "",
        "x": 150,
        "y": 1900,
        "wires": []
    },
    {
        "id": "8d703590b22f14ba",
        "type": "ui_form",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "name": "",
        "label": "Time Zone (ex. \"-05:00\")",
        "group": "c166754c88d73fc6",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set Timezone",
                "value": "timezone",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "timezone": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 170,
        "y": 1940,
        "wires": [
            [
                "140d5f4901347771"
            ]
        ]
    },
    {
        "id": "140d5f4901347771",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "name": "PreRequest",
        "func": "if(msg.payload.timezone) {\n    msg.method = \"PATCH\";\n    msg.url = `https://petificationblue.ddns.net:1880/user/timezone/${msg.payload.timezone}`;\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1980,
        "wires": [
            [
                "f2b4c1c73a6b3a6c"
            ]
        ]
    },
    {
        "id": "c455f4853c45958b",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/user/timezone\";\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2040,
        "wires": [
            [
                "18da557133285e3a"
            ]
        ]
    },
    {
        "id": "f2b4c1c73a6b3a6c",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "name": "ReST/PATCH Timezone",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 390,
        "y": 2020,
        "wires": [
            [
                "c455f4853c45958b"
            ]
        ]
    },
    {
        "id": "18da557133285e3a",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "name": "ReST/GET Timezone",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 720,
        "y": 2080,
        "wires": [
            [
                "898ae72159457af1"
            ]
        ]
    },
    {
        "id": "04729c8adab20efb",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 495,
        "y": 2080,
        "wires": [
            [
                "c455f4853c45958b"
            ]
        ]
    },
    {
        "id": "c77fd1a058fde16f",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "603ebd9c67ab0d3c",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 360,
        "y": 2080,
        "wires": []
    },
    {
        "id": "0b10204871cef669",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Water-Dispenser",
        "info": "",
        "x": 1220,
        "y": 600,
        "wires": []
    },
    {
        "id": "678eb9b6773d42d3",
        "type": "ui_chart",
        "z": "2807eb5038af723b",
        "name": "",
        "group": "1c59b2e42a6a75ab",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "Water Consumption",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2020,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "01cebc855c52442a",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water Remaining",
        "info": "",
        "x": 1530,
        "y": 1400,
        "wires": []
    },
    {
        "id": "6b1f7043724b0ed7",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water Consumption",
        "info": "",
        "x": 1540,
        "y": 1540,
        "wires": []
    },
    {
        "id": "71725bf6e53fd0af",
        "type": "comment",
        "z": "2807eb5038af723b",
        "name": "Show Water-Dispenser Status",
        "info": "",
        "x": 1550,
        "y": 1720,
        "wires": []
    },
    {
        "id": "e3c76292e5d759dc",
        "type": "ui_gauge",
        "z": "2807eb5038af723b",
        "name": "",
        "group": "1c59b2e42a6a75ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water ",
        "label": "units",
        "format": "{{value}} g",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "className": "",
        "x": 1860,
        "y": 1460,
        "wires": []
    },
    {
        "id": "7e74b56c67122fd2",
        "type": "ui_led",
        "z": "2807eb5038af723b",
        "order": 4,
        "group": "1c59b2e42a6a75ab",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1450,
        "y": 1160,
        "wires": []
    },
    {
        "id": "fd6e032637506e5e",
        "type": "ui_text",
        "z": "2807eb5038af723b",
        "group": "1c59b2e42a6a75ab",
        "order": 3,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Device Health Check",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1500,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d7710f7f52438651",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/water-dispenser/scale/water",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1600,
        "y": 1460,
        "wires": [
            [
                "e3c76292e5d759dc"
            ]
        ]
    },
    {
        "id": "e4f59b5fe558ceb9",
        "type": "mqtt in",
        "z": "2807eb5038af723b",
        "name": "",
        "topic": "users/petification/water-dispenser/scale/consumption",
        "qos": "2",
        "datatype": "auto",
        "broker": "f2f86710f80408e7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1620,
        "y": 1600,
        "wires": [
            [
                "678eb9b6773d42d3"
            ]
        ]
    },
    {
        "id": "1e2791efad22a49d",
        "type": "ui_dropdown",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "ae0ea2451b27327f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 1710,
        "y": 880,
        "wires": [
            [
                "4aa414140e06236c"
            ]
        ]
    },
    {
        "id": "e4975558ee3868d0",
        "type": "link in",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Token Change Event Listener",
        "links": [
            "8b03a6b2f1141366"
        ],
        "x": 1415,
        "y": 720,
        "wires": [
            [
                "e7b02ce801986909"
            ]
        ]
    },
    {
        "id": "3547605771d61b14",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Token Change Event Listener",
        "info": "",
        "x": 1280,
        "y": 720,
        "wires": []
    },
    {
        "id": "e7b02ce801986909",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "PreRequest",
        "func": "msg.method = \"GET\";\nmsg.url = \"https://petificationblue.ddns.net:1880/devices/all\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 760,
        "wires": [
            [
                "f93951d199f6561c"
            ]
        ]
    },
    {
        "id": "f93951d199f6561c",
        "type": "link call",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "ReST/GET Devices",
        "links": [
            "7986a94a1d338f6c"
        ],
        "timeout": "30",
        "x": 1530,
        "y": 800,
        "wires": [
            [
                "64eb80a6f67da9c4"
            ]
        ]
    },
    {
        "id": "64eb80a6f67da9c4",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "ConvPayload",
        "func": "const res = [];\n\nfor(let obj of msg.payload) {\n    const item = {};\n    item[obj.name] = obj.cid;\n    res.push(item);\n}\n\nmsg.options = res;\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 840,
        "wires": [
            [
                "1e2791efad22a49d"
            ]
        ]
    },
    {
        "id": "4aa414140e06236c",
        "type": "function",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "SaveCid",
        "func": "flow.set('waterSupplier', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 920,
        "wires": [
            [
                "d48f225f687e0af3"
            ]
        ]
    },
    {
        "id": "5eec2ac1e0cdfe7d",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Device Selection",
        "info": "",
        "x": 1240,
        "y": 680,
        "wires": []
    },
    {
        "id": "d48f225f687e0af3",
        "type": "link out",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "",
        "mode": "link",
        "links": [],
        "x": 1795,
        "y": 960,
        "wires": []
    },
    {
        "id": "3aa2a056c41f1ebb",
        "type": "comment",
        "z": "2807eb5038af723b",
        "g": "984a3b613f2b4abc",
        "name": "Device Selection Event Out",
        "info": "",
        "x": 1930,
        "y": 960,
        "wires": []
    },
    {
        "id": "35e893befae8d648",
        "type": "ui_group",
        "name": "Food Feeder",
        "tab": "24ee9924ddace3c7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2f86710f80408e7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a9de1389895e63c0",
        "type": "ui_group",
        "name": "User Info",
        "tab": "1d987565aa907a44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1654a6d7a221376c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a2a345f1c4a3679a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "1c59b2e42a6a75ab",
        "type": "ui_group",
        "name": "WaterDispenser",
        "tab": "ca764433f99f8efb",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad04c2ea2866741d",
        "type": "ui_group",
        "name": "Food Feeder Controller",
        "tab": "24ee9924ddace3c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad292859cba7b247",
        "type": "ui_group",
        "name": "Notification",
        "tab": "1d987565aa907a44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eba1d9cc6f3a89fd",
        "type": "ui_group",
        "name": "EmailAddress",
        "tab": "1d987565aa907a44",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1c00c1305e6ac21",
        "type": "ui_group",
        "name": "WhatsApp",
        "tab": "1d987565aa907a44",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c166754c88d73fc6",
        "type": "ui_group",
        "name": "Timezone",
        "tab": "1d987565aa907a44",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae0ea2451b27327f",
        "type": "ui_group",
        "name": "Device Selection",
        "tab": "ca764433f99f8efb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24ee9924ddace3c7",
        "type": "ui_tab",
        "name": "petification",
        "icon": "pets",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1d987565aa907a44",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "settings",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca764433f99f8efb",
        "type": "ui_tab",
        "name": "Water Supplier",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]